<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <th:block th:fragment="script">

        <script>
            let isLoggedIn = $('#isLoggedIn').data('logged-in');
            let $userId = document.getElementById('loginUserId');
            let userId = $userId.value;

            /* 좋아요 ON & OFF & 갯수 갱신 */
            // 좋아요 갯수 갱신
            function updateLikeCount(element, postNo) {
                
                let request = new XMLHttpRequest();
    
                request.open('GET', '/like/count/' + postNo, true);
                request.send();
    
                request.onreadystatechange = function () {
    
                    if (request.readyState == request.DONE && request.status == 200) {
                        
                        let response = JSON.parse(request.responseText);
                        
                        console.log('좋아요 갯수 갱신 요청 완료');
                        console.log('업데이트된 좋아요 수: ' + response.countLike);
                        // 좋아요 갯수 갱신
                        let updatedLikeCount = response.countLike;
                        let $countLike = element.querySelector('.count-like');
                        $countLike.innerText = '';
                        $countLike.innerText = updatedLikeCount;
                    }
                }
            }
    
            /* 좋아요 on & off */
            function btnLike(element, postNo) {
                event.preventDefault();
    
                // 로그인 여부 체크; 비로그인 시, 로그인 페이지로 튕김
                if (!isLoggedIn) {
                    // alert('로그인 후 이용 가능합니다.');
                    Swal.fire({
                        // icon: "error",
                        // title: "Oops...",
                        html: `  
                            <img src="/img/header/Goodz_logo3.png" />
                            <h3 class="mt-4">로그인 후 이용 가능합니다.</h3>
                        `,
                        confirmButtonText: "확인",
                        footer: '<a href="/user/signup">회원가입</a>'
                    }).then((result) => {

                        Swal.fire({
                            title: "로그인 페이지로 이동하시겠습니까?",
                            text: "회원가입 및 로그인을 하시며 다양한 기능을 이용할 수 있습니다!",
                            imageUrl: "http://localhost:8080/img/header/Goodz_logo3.png",
                            showCancelButton: true,
                            confirmButtonColor: "#393E46",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "로그인하기",
                            cancelButtonText: "취소"
                          }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                                return;
                            }
                            return;
                          });
                        
                    });

                    
                    ;
                    //let moveToLogin = confirm('로그인 페이지로 이동하시겠습니까?');
                    //if (moveToLogin) {
                    //    window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                    //    return;
                    //}
                    //return;
                }
                
                // 로그인 시,
                let $like = element.querySelector('svg');
                let $csrfToken = document.getElementById('csrfToken');
                let csrfToken = $csrfToken.value;
                
                let $userId = document.getElementById('loginUserId');
                let userId = $userId.value;
    
                //  좋아요 off -> on
                if ($like.getAttribute('fill') === 'none') {
    
                    let data = {
                        'postNo' : postNo,
                        'userId' : userId
                    }
                    console.log("좋아요 off -> on")
                    console.dir(data);
    
                    let request = new XMLHttpRequest();
    
                    request.open('POST', '/like');
                    request.setRequestHeader('content-Type', 'application/json');
                    request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                    request.send(JSON.stringify(data));
    
                    // 요청상태 체킹
                    request.onreadystatechange = function () {
                        if (request.readyState == request.DONE && request.status == 200) {
                            
                            let response = request.responseText;
                            
                            if (response == 'SUCCESS') {
                                console.log('좋아요 등록 성공');
                                // 좋아요 색 채우기
                                $like.setAttribute('fill', 'solid');
    
                                // 좋아요 갯수 갱신
                                updateLikeCount(element, postNo);
                            }
                        }
                    }
                }
    
                //  좋아요 on -> off
                else if ($like.getAttribute('fill') === 'solid') {
    
                    let data = {
                        'postNo' : postNo,
                        'userId' : userId
                    }
    
                    console.log("좋아요 on -> off")
                    console.dir(data);
    
                    let request = new XMLHttpRequest();
    
                    request.open('DELETE', '/like');
                    request.setRequestHeader('content-Type', 'application/json');
                    request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                    request.send(JSON.stringify(data));
    
                    // 요청상태 체킹
                    request.onreadystatechange = function () {
                        if (request.readyState == request.DONE && request.status == 200) {
                            console.log('좋아요 삭제 성공');
    
                            let response = request.responseText;
    
                            if (response == 'SUCCESS') {
                                // 좋아요 색 빼기
                                $like.setAttribute('fill', 'none');
    
                                // 좋아요 갯수 갱신
                                updateLikeCount(element, postNo);
                            }
                        }
                    }
                }
            }

            /* 관심 ON & OFF & 갯수 갱신 */
            // 관심 갯수 갱신
            function updateWishCount(element, parentTable, parentNo) {
                
                let request = new XMLHttpRequest();

                request.open('GET', '/wish/count?parentTable='+parentTable+'&parentNo='+parentNo);
                request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                request.send();
                
                // 요청상태 체킹
                request.onreadystatechange = function () {
                    
                    if (request.readyState == request.DONE && request.status == 200) {
                        
                        let response = JSON.parse(request.responseText);
                        
                        console.log('저장 갯수 갱신 요청 완료');
                        console.log('업데이트된 저장 수: ' + response.countWish);
                        // 저장 갯수 갱신
                        let updatedWishCount = response.countWish;
                        let $countWish = element.querySelector('.count-wish');
                        $countWish.innerText = '';
                        $countWish.innerText = updatedWishCount;
                    }
                }
            }

             /* 저장 on & off */
             function btnWish(element, parentTable, parentNo) {
                event.preventDefault();
    
                // 로그인 여부 체크; 비로그인 시, 로그인 페이지로 튕김
                if (!isLoggedIn) {
                    // alert('로그인 후 이용 가능합니다.');
                    Swal.fire({
                        html: `  
                            <img src="/img/header/Goodz_logo3.png" />
                            <h3 class="mt-4">로그인 후 이용 가능합니다.</h3>
                        `,
                        confirmButtonText: "확인",
                        footer: '<a href="/user/signup">회원가입</a>'
                    }).then((result) => {

                        Swal.fire({
                            title: "로그인 페이지로 이동하시겠습니까?",
                            text: "회원가입 및 로그인을 하시며 다양한 기능을 이용할 수 있습니다!",
                            imageUrl: "http://localhost:8080/img/header/Goodz_logo3.png",
                            showCancelButton: true,
                            confirmButtonColor: "#393E46",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "로그인하기",
                            cancelButtonText: "취소"
                          }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                                return;
                            }
                            return;
                          });
                        
                    });

                    // let moveToLogin = confirm('로그인 페이지로 이동하시겠습니까?');
    
                    // if (moveToLogin) {
                    //     window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                    //     return;
                    // }
                    // return;
                }
                
                // 로그인 시,
                let $wish = element.querySelector('svg');
                let $csrfToken = document.getElementById('csrfToken');
                let csrfToken = $csrfToken.value;
                
                let $userId = document.getElementById('loginUserId');
                let userId = $userId.value;
    
                //  좋아요 off -> on
                if ($wish.getAttribute('fill') === 'none') {
    
                    let data = {
                        'parentTable'   : parentTable,
                        'parentNo'      : parentNo,
                        'userId'        : userId
                    };

                    console.log("저장 off -> on");
                    console.dir(data);
    
                    let request = new XMLHttpRequest();
    
                    request.open('POST', '/wish');
                    request.setRequestHeader('content-Type', 'application/json');
                    request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                    request.send(JSON.stringify(data));
    
                    // 요청상태 체킹
                    request.onreadystatechange = function () {
                        if (request.readyState == request.DONE && request.status == 200) {
                            
                            let response = request.responseText;
                            
                            if (response == 'SUCCESS') {
                                console.log('저장 등록 성공');
                                // 저장 색 채우기
                                $wish.setAttribute('fill', 'solid');
    
                                // 저장 갯수 갱신
                                updateWishCount(element, parentTable, parentNo);
                            }
                        }
                    }
                }
    
                //  저장 on -> off
                else if ($wish.getAttribute('fill') === 'solid') {
    
                    let data = {
                        'parentTable'   : parentTable,
                        'parentNo'      : parentNo,
                        'userId'        : userId
                    }
    
                    console.log("저장 on -> off")
                    console.dir(data);
    
                    let request = new XMLHttpRequest();
    
                    request.open('DELETE', '/wish');
                    request.setRequestHeader('content-Type', 'application/json');
                    request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                    request.send(JSON.stringify(data));
    
                    // 요청상태 체킹
                    request.onreadystatechange = function () {
                        if (request.readyState == request.DONE && request.status == 200) {
                            console.log('저장 삭제 성공');
    
                            let response = request.responseText;
    
                            if (response == 'SUCCESS') {
                                // 저장 색 빼기
                                $wish.setAttribute('fill', 'none');
    
                                // 저장 갯수 갱신
                                updateWishCount(element, parentTable, parentNo);
                            }
                        }
                    }
                }
            }
        </script>

        <!-- 댓글 수정/삭제 버튼 -->
        <script>
            $(".btn-cmmt-update").click(function (){
                alert("수정버튼");
            });
        </script>

        <!-- 게시글 삭제/버튼 -->
        <script>
            function actionDelete() {
                let doubleCheck = confirm ('정말로 삭제하시겠습니까?');

                return;
            }
        </script>

        <!-- 상품태그 삭제 -->
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var tagedItems = document.querySelectorAll(".tagedItem");
        
                tagedItems.forEach(function(item) {
                    item.addEventListener("click", function() {
                        // 클릭된 요소를 완전히 삭제합니다.
                        item.remove();
                    });
                });
            });
        </script>
        

    </th:block>
</body>
</html>