<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Store Information</title>
</head>
<body>
    <h1>Store Information</h1>
    <!-- Cancel button -->
    <div th:replace="fragments/common/cancel :: cancel"></div>
    <p>여기에 스토어 안내 내용을 작성하십시오.</p>
</body>
<script th:src="@{/js/policy.js}"></script>
</html>
