<header th:fragment="header"> 
  <nav class="header_container py-2">
    <div class="container d-flex justify-content-between align-items-center">
      <div>
        <a href="/" class="logo ">
          <img src="/img/header/Goodz_logo3.png" alt="Goodz Logo">
        </a>
        <ul class="nav secondary-nav nav-left">
          <li class="nav-item">
              <a href="/product/top" class="nav-link link-body-emphasis px-2">상의</a>
          </li>
          <li class="nav-item">
              <a href="/product/pants" class="nav-link link-body-emphasis px-2">하의</a>
          </li>
          <li class="nav-item">
              <a href="/product/shoes" class="nav-link link-body-emphasis px-2">신발</a>
          </li>
          <li class="nav-item">
              <a href="/product/accessory" class="nav-link link-body-emphasis px-2">액세서리</a>
          </li>
        </ul>
      </div>
      <div class="d-flex flex-column align-items-end mb-0">
          <ul class="nav secondary-nav mb-2">
            <!-- 관심 -->
            <li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
              <th:block sec:authorize="isAnonymous()">
                <a href="/user/login" class="nav-link link-body-emphasis px-2">관심</a>
              </th:block>
              <th:block sec:authorize="isAuthenticated()">
                <a href="/user/wishlist/products" class="nav-link link-body-emphasis px-2">관심</a>
              </th:block>
            </li>
            <!-- 마이페이지 -->
            <li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
              <th:block sec:authorize="isAnonymous()">
                <a href="/user/login" class="nav-link link-body-emphasis px-2">마이페이지</a>
              </th:block>
              <th:block sec:authorize="isAuthenticated()">
                <a href="/user" class="nav-link link-body-emphasis px-2">마이페이지</a>
              </th:block>
            </li>
            <!-- 관리자 로그인 시 -->
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <li class="nav-item">
              <!-- 관리자 페이지 경로 -->
                <a href="/admin" class="nav-link link-body-emphasis px-2">관리자 페이지</a>
              </li>
            </th:block>
            <li class="nav-item">
              <th:block sec:authorize="isAnonymous()">
              <!-- 비 로그인 시 -->
                <a href="/user/login" class="nav-link link-body-emphasis px-2">로그인</a>
              </th:block>
              <!-- 로그인 시 -->
              <th:block sec:authorize="isAuthenticated()">
                <form action="/logout" method="post">
                  <!-- CSRF TOKEN -->
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                  <div class="d-grid gap-2">
                      <button type="submit" class="nav-link link-body-emphasis px-2">로그아웃</button>
                  </div>
                </form>
              </th:block>
              <!-- <a href="#" class="nav-link link-body-emphasis px-2">로그아웃</a> -->
            </li>
          </ul>
          <ul class="nav primary-nav">
            <li class="nav-item">
              <a href="/" class="nav-link link-body-emphasis px-2" aria-current="page">HOME</a>
            </li>
            <li class="nav-item">
              <a href="/styles" class="nav-link link-body-emphasis px-2">STYLE</a>
            </li>
            <li class="nav-item">
              <a href="/product" class="nav-link link-body-emphasis px-2 active">SHOP</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- 구분선 -->
  <div class="seperation" style="background-color: #393E46; height: 15px; margin: 0 auto;"></div>

</header>