<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <th:block th:fragment="script">

        <script>
            
            let isLoggedIn = $('#isLoggedIn').data('logged-in');
            let $userId = document.getElementById('loginUserId');
            let userId = $userId.value;

            /* 관심 ON & OFF */
             function btnWish(element, parentTable, parentNo) {
                event.preventDefault();
    
                // 로그인 여부 체크; 비로그인 시, 로그인 페이지로 튕김
                if (!isLoggedIn) {
                    Swal.fire({
                        title: "로그인 페이지로 이동하시겠습니까?",
                        text: "회원가입 및 로그인을 하시며 다양한 기능을 이용할 수 있습니다!",
                        imageUrl: "http://localhost:8080/img/header/Goodz_logo3.png",
                        showCancelButton: true,
                        confirmButtonColor: "#393E46",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "로그인하기",
                        cancelButtonText: "취소"
                      }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                            return;
                        }
                        return;
                      });
                    // alert('로그인 후 이용 가능합니다.');
                    //if (moveToLogin) {
                    //    window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                    //    return;
                    //}
                    //return;
                }
                
                // 로그인 시,
                let $wish = element.querySelector('svg');
                let $csrfToken = document.getElementById('csrfToken');
                let csrfToken = $csrfToken.value;
                
                let $userId = document.getElementById('loginUserId');
                let userId = $userId.value;
    
                //  좋아요 off -> on
                if ($wish.getAttribute('fill') === 'none') {
    
                    let data = {
                        'parentTable'   : parentTable,
                        'parentNo'      : parentNo,
                        'userId'        : userId
                    };

                    console.log("저장 off -> on");
                    console.dir(data);
    
                    let request = new XMLHttpRequest();
    
                    request.open('POST', '/wish');
                    request.setRequestHeader('content-Type', 'application/json');
                    request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                    request.send(JSON.stringify(data));
    
                    // 요청상태 체킹
                    request.onreadystatechange = function () {
                        if (request.readyState == request.DONE && request.status == 200) {
                            
                            let response = request.responseText;
                            
                            if (response == 'SUCCESS') {
                                console.log('저장 등록 성공');
                                // 저장 색 채우기
                                $wish.setAttribute('fill', 'solid');
                            }
                        }
                    }
                }
    
                //  저장 on -> off
                else if ($wish.getAttribute('fill') === 'solid') {
    
                    let data = {
                        'parentTable'   : parentTable,
                        'parentNo'      : parentNo,
                        'userId'        : userId
                    }
    
                    console.log("저장 on -> off")
                    console.dir(data);
    
                    let request = new XMLHttpRequest();
    
                    request.open('DELETE', '/wish');
                    request.setRequestHeader('content-Type', 'application/json');
                    request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                    request.send(JSON.stringify(data));
    
                    // 요청상태 체킹
                    request.onreadystatechange = function () {
                        if (request.readyState == request.DONE && request.status == 200) {
                            console.log('저장 삭제 성공');
    
                            let response = request.responseText;
    
                            if (response == 'SUCCESS') {
                                // 저장 색 빼기
                                $wish.setAttribute('fill', 'none');
                            }
                        }
                    }
                }
            }
        </script>

    </th:block>
</body>
</html>