<!-- size_table.html -->
<div class="col-12 col-md-6 d-flex flex-column align-items-md-end size-info" id="sizeTableImg">
    <img src="/img/product/size_info.png" alt="Size Chart" id="sizeChartImg" class="w-60 w-md-60" style="padding-right: 50px;">
</div>
<div class="size-table-container">
    <div class="toggle-buttons">
        <button class="btn btn-secondary" onclick="showCm()">CM</button>
        <div class="divider"></div>
        <button class="btn btn-secondary" onclick="showInches()">INCHES</button>
    </div>
    <table class="table table-bordered size-table cm-table">
        <thead>
            <tr>
                <th>SIZE</th>
                <th>XS</th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>XXL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CHEST</td>
                <td>53.3</td>
                <td>55.9</td>
                <td>58.4</td>
                <td>61</td>
                <td>63.5</td>
                <td>66</td>
            </tr>
            <tr>
                <td>FRONT LENGTH</td>
                <td>66</td>
                <td>68.6</td>
                <td>71.1</td>
                <td>73.7</td>
                <td>76.2</td>
                <td>78.7</td>
            </tr>
            <tr>
                <td>SLEEVE LENGTH</td>
                <td>19.7</td>
                <td>21</td>
                <td>22.2</td>
                <td>23.5</td>
                <td>24.8</td>
                <td>26</td>
            </tr>
            <tr>
                <td>SHOULDER WIDTH</td>
                <td>48.3</td>
                <td>50.8</td>
                <td>53.3</td>
                <td>55.9</td>
                <td>58.4</td>
                <td>61</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered size-table inches-table" style="display: none;">
        <thead>
            <tr>
                <th>SIZE</th>
                <th>XS</th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>XXL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CHEST</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
            </tr>
            <tr>
                <td>FRONT LENGTH</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
            </tr>
            <tr>
                <td>SLEEVE LENGTH</td>
                <td>7.75</td>
                <td>8.25</td>
                <td>8.75</td>
                <td>9.25</td>
                <td>9.75</td>
                <td>10.25</td>
            </tr>
            <tr>
                <td>SHOULDER WIDTH</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
            </tr>
        </tbody>
    </table>
</div>


