<!-- shoes_size.html -->
<div class="col-12 col-md-6 d-flex flex-column align-items-md-end size-info" id="sizeTableImg">
    <img src="/img/product/shoes_info1.png" alt="Size Chart" id="sizeChartImg" class="w-20 w-md-20" style="padding-right: 10px;">
</div>

<table class="table table-bordered size-table cm-table">
    <thead>
        <tr>
            <th>SIZE</th>
            <th>220</th>
            <th>230</th>
            <th>240</th>
            <th>250</th>
            <th>260</th>
            <th>270</th>
            <th>280</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BALL WIDTH (mm)</td>
            <td>85</td>    <!-- 220 신발 공폭(mm) -->
            <td>89</td>    <!-- 230 신발 공폭(mm) -->
            <td>93</td>    <!-- 240 신발 공폭(mm) -->
            <td>97</td>    <!-- 250 신발 공폭(mm) -->
            <td>101</td>   <!-- 260 신발 공폭(mm) -->
            <td>105</td>   <!-- 270 신발 공폭(mm) -->
            <td>109</td>   <!-- 280 신발 공폭(mm) -->
        </tr>
        <tr>
            <td>FOOT LENGTH (mm)</td>
            <td>220</td>   <!-- 220 신발 발 길이(mm) -->
            <td>230</td>   <!-- 230 신발 발 길이(mm) -->
            <td>240</td>   <!-- 240 신발 발 길이(mm) -->
            <td>250</td>   <!-- 250 신발 발 길이(mm) -->
            <td>260</td>   <!-- 260 신발 발 길이(mm) -->
            <td>270</td>   <!-- 270 신발 발 길이(mm) -->
            <td>280</td>   <!-- 280 신발 발 길이(mm) -->
        </tr>
        <tr>
            <td>ARCH LENGTH (mm)</td>
            <td>150</td>   <!-- 220 신발 아치 길이(mm) -->
            <td>155</td>   <!-- 230 신발 아치 길이(mm) -->
            <td>160</td>   <!-- 240 신발 아치 길이(mm) -->
            <td>165</td>   <!-- 250 신발 아치 길이(mm) -->
            <td>170</td>   <!-- 260 신발 아치 길이(mm) -->
            <td>175</td>   <!-- 270 신발 아치 길이(mm) -->
            <td>180</td>   <!-- 280 신발 아치 길이(mm) -->
        </tr>
        <tr>
            <td>HEEL WIDTH (mm)</td>
            <td>60</td>    <!-- 220 신발 굽 폭(mm) -->
            <td>62</td>    <!-- 230 신발 굽 폭(mm) -->
            <td>64</td>    <!-- 240 신발 굽 폭(mm) -->
            <td>66</td>    <!-- 250 신발 굽 폭(mm) -->
            <td>68</td>    <!-- 260 신발 굽 폭(mm) -->
            <td>70</td>    <!-- 270 신발 굽 폭(mm) -->
            <td>72</td>    <!-- 280 신발 굽 폭(mm) -->
        </tr>
    </tbody>
</table>




