<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/product_layout}">
<head>
    <title>결제 메인</title>
    <style>
        body {
            background-color: white;
        }
        .product-price {
            color: #d9534f;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .product-options, .buy-buttons, .size-info, .size-chart, .product-images, .related-products {
            margin-top: 20px;
        }
        .product-images img, .related-products img {
            width: 100px;
            height: auto;
            margin-right: 10px;
        }
        .size-info {
            display: flex;
            justify-content: flex-end;
        }
        .size-info img {
            width: 60%;
        }
        .related-products img {
            margin-right: 15px;
        }
        .carousel-control-prev, .carousel-control-next {
            width: 5%;
        }
        .chart-container {
            position: relative;
            margin-top: 20px;
        }
        .btn-purchase {
            background-color: #d9534f;
            color: white;
            border: none;
            width: 100%;
            height: 50px;
        }
        .btn-sell {
            background-color: #5cb85c;
            color: white;
            border: none;
            width: 100%;
            height: 50px;
        }
        .btn-wish {
            background-color: transparent;
            color: black;
            border: 1px solid #ddd;
            padding: 5px 10px;
            border-radius: 4px;
            width: 100%;
            height: 60px;
            text-align: center;
        }
        .toggle-buttons {
            display: flex;
            margin-bottom: 20px;
            text-align: center;
        }
        .toggle-buttons button {
            justify-content: left;
            margin: 0 5px;
            color: black;
            background-color: white;
            border: none;
        }
        .hidden {
            display: none;
        }
        
        .divider {
            width: 2px;
            height: 30px; /* 원하는 길이로 변경하세요 */
            background-color: black; /* 원하는 색상으로 변경하세요 */
            margin: 0 10px; /* 버튼과 구분선 사이의 간격 조절 */
        }

        .nav-pills .nav-link {
            border-radius: 15px;
            background-color: #f8f9fa;
            margin: 0 5px;
            color: #495057;
            font-weight: bold;
            text-align: center;
        }

        .nav-pills .nav-link.active {
            background-color: #007bff;
            color: white;
        }

        .nav-pills .nav-link:hover {
            background-color: #e2e6ea;
            color: #007bff;
        }

        .chart-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .modal {
            z-index: 1055 !important;
        }       

        .modal-content {
            text-align: center;
        }
        
        .modal-content .btn {
            width: 100px;
            margin: 5px;
        }
        
        .carousel-item img {
            max-width: 100%;
            height: 500px; /* 원하는 높이로 조절 */
            object-fit: cover; /* 이미지가 자르지 않고 부모 요소에 맞게 조절되도록 설정 */
        }

        .modal-footer button{
            background-color: #393E46;
            color: white;
        }
    </style>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>
<body layout:fragment="content">
    
    <!-- for wishList -->
    <th:block th:if="${loginUser != null}">
        <input type="hidden" id="isLoggedIn" th:data-logged-in="${loginUser != null}">
        <input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="userId" id="loginUserId" th:value="${loginUser.userId}">
    </th:block>

    <div class="container mt-5">
        <div class="mainContainer">
            <div class="row">
                <!-- 상품 상세 이미지 -->
                <div class="col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            <th:block th:each="image, iterStat : ${images}">
                                <button type="button" data-bs-target="#carouselExampleIndicators" th:data-bs-slide-to="${iterStat.index}" 
                                        th:classappend="${iterStat.index == 0} ? 'active'" th:aria-current="${iterStat.index == 0} ? 'true' : null" 
                                        th:aria-label="'Slide ' + (${iterStat.index} + 1)"></button>
                            </th:block>
                        </div>
                        <div class="carousel-inner">
                            <th:block th:each="image, iterStat : ${images}">
                                <div th:class="'carousel-item' + (${iterStat.index == 0} ? ' active' : '')">
                                    <img th:src="@{/files/img(imgUrl=${image.filePath})}" th:alt="${image.filePath}">
                                </div>
                            </th:block>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <!-- 상품 상세 정보 -->
                <div class="col-md-6">
                    <div class="product-details">
                        <h3 id="productName" th:text="${product.productName}"></h3>
                        <div class="product-price">
                            <p id="productPrice" class="m-0 ms-2" th:if="${formattedMinPrice} != '0 원'" th:text="${formattedMinPrice}"></p>
                        </div>

                        <input type="hidden" id="minPriceSize" th:value="${minPriceSize}">
                        <input type="hidden" id="productNo" name="productNo" th:value="${product.pNo}">
                        <input type="hidden" id="category" name="category" th:value="${product.category}">
                        <input type="hidden" id="brand" name="brand" th:value="${product.bName}">
                        <input type="hidden" id="initialPrice" name="initialPrice" th:value="${product.initialPrice}">

                        <div class="product-options">
                            <button id="sizeButton" name="size" class="form-select w-100" data-bs-toggle="modal" data-bs-target="#sizeModal">
                                모든 사이즈
                            </button>
                        </div>
                        
                        <div class="p-1">
                            <div class="buy-buttons mt-3 d-flex justify-content-end">
                                <button class="btn btn-danger btn-purchase mb-2 me-2 d-flex justify-content-between align-items-center" 
                                        data-bs-toggle="modal" data-bs-target="#transactionModal" data-type="purchase" th:data-prices="${pricesJson}">
                                   구매 <p class="m-0 ms-2" id="price" th:if="${minPrice > 0}" th:text="${formattedMinPrice}"></p>
                                    </button>
                                <button class="btn btn-success btn-sell mb-2 me-2 d-flex justify-content-between align-items-center" 
                                        data-bs-toggle="modal" data-bs-target="#transactionModal" data-type="sell" 
                                        data-category="${product.category}" th:data-initial-price="${product.initialPrice}">
                                    판매 <p class="m-0 ms-2" id="initialPriceText"></p>
                                </button>
                            </div>
                            
                            <div class="mt-1 d-flex justify-content-center">
                                <button class="btn-wish" th:onclick="'btnWish(this, \'product\', ' + ${product.pNo} + ')'" style="color: black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" th:fill="${isWishlisted} ? 'solid' : 'none'" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="26" height="26">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                                    </svg>
                                    <span class="wish-button">관심</span>
                                </button>
                            </div>
                        </div>

                        <!-- Size Modal -->
                        <div class="modal fade" id="sizeModal" tabindex="-1" aria-labelledby="sizeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="sizeModalLabel">사이즈 선택</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- 사이즈 옵션이 여기에 동적으로 삽입됩니다 -->
                                        <th:block th:each="option : ${options}">
                                            <button class="btn btn-outline-secondary size-option" th:data-size="${option.size}" th:data-price="${option.optionPrice}" th:text="${option.size}"></button>
                                        </th:block>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" id="confirmSizeButton">선택 완료</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Transaction Modal -->
                        <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="transactionModalLabel">거래하기</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- 사이즈와 가격 옵션이 여기에 동적으로 삽입됩니다 -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" id="confirmTransactionButton">거래하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- 상품 상세 정보 (끝) -->
                    
                    <!-- 배송 방법 -->
                    <div class="section_unit my-3">
                        <div class="section_content p-2">
                            <div class="shipping_info d-flex">
                                <img src="/img/pay/box.png" alt="배송박스" class="img-fluid me-3" style="width: 50px; height: 50px;"> <!-- 이미지 크기 조정 -->
                                <div class="shipping_detail d-flex flex-column ms-2"> <!-- 간격 조정 -->
                                    <div class="shipping_method small">일반배송 3,000원</div> <!-- 폰트 크기 조정 -->
                                    <div class="shipping_cost text-secondary small">
                                        검수 후 배송 | 9-11일 내 도착 예정
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="chart">
                        <div class="chart-container">
                            <h5 class="text-md-start fw-bold" style="padding-right: 100px;">시세</h5>
                            <ul class="nav nav-tabs" id="priceTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="all-time-tab" data-bs-toggle="tab" href="#all-time" role="tab" aria-controls="all-time" aria-selected="true">전체</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="one-week-tab" data-bs-toggle="tab" href="#one-week" role="tab" aria-controls="one-week" aria-selected="false">1주일</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="one-month-tab" data-bs-toggle="tab" href="#one-month" role="tab" aria-controls="one-month" aria-selected="false">1개월</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="three-months-tab" data-bs-toggle="tab" href="#three-months" role="tab" aria-controls="three-months" aria-selected="false">3개월</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="six-months-tab" data-bs-toggle="tab" href="#six-months" role="tab" aria-controls="six-months" aria-selected="false">6개월</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="all-time" role="tabpanel" aria-labelledby="all-time-tab">
                                    <canvas id="priceChartAllTime"></canvas>
                                </div>
                                <div class="tab-pane fade" id="one-week" role="tabpanel" aria-labelledby="one-week-tab">
                                    <canvas id="priceChart1Week"></canvas>
                                </div>
                                <div class="tab-pane fade" id="one-month" role="tabpanel" aria-labelledby="one-month-tab">
                                    <canvas id="priceChart1Month"></canvas>
                                </div>
                                <div class="tab-pane fade" id="three-months" role="tabpanel" aria-labelledby="three-months-tab">
                                    <canvas id="priceChart3Months"></canvas>
                                </div>
                                <div class="tab-pane fade" id="six-months" role="tabpanel" aria-labelledby="six-months-tab">
                                    <canvas id="priceChart6Months"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>    

                    </div>
                </div> <!-- 상품 상세 정보 (끝) -->
            </div>
            
            <!-- 사이즈 정보와 테이블을 같은 행에 배치 -->
            <div class="row mt-5 chart-container" id="sizeInfo">
                <h5 class="text-md-start fw-bold" style="padding-right: 100px;">Size Info</h5>
                <div id="sizeTableContainer" class="d-flex align-items-start p-4">
                    <!-- 사이즈 테이블이 여기에 로드됨 -->
                </div>
            </div>

            <div class="container mt-4">
                <h5 class="text-md-start fw-bold mt-5" style="padding-right: 100px;">태그된 스타일</h5>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-3" id="taggedStyles">
                    <!-- 반복문으로 최대 4개 까지 -->
                    <th:block th:if="${taggedPosts == null || taggedPosts.isEmpty()}">
                        <br><br><h5 class="text-body-tertiary text-center">아직 태그된 상품이 없습니다.</h5><br><br>
                    </th:block>
                    <th:block th:each="post : ${taggedPosts}">
                        <div class="col">
                            <!--[DB] 프로필 & 아이디 -->
                            <div class="card-text py-2">
                                <a th:href="|/styles/user/@${post.nickname}|" class="d-flex justify-content-start column-gap-1"  style="text-decoration: none; color: #393E46;">
                                    <img th:src="|/files/${post.profileImgNo}|" alt="프로필이미지" class="profile-img">
                                    <p class="userId fw-bold m-0" th:text="${post.nickname}"></p>
                                </a>
                            </div>
                            <!--[DB] 이미지 -->
                            <a th:href="|/styles/${post.postNo}|">
                                <img th:src="|/files/${post.fileNo}|" alt="게시글" class="rounded-4" style="width: 100%;">
                            </a>
                        </div>
                    </th:block>
                </div>
                
                <div class="container mt-4">
                    <h5 class="text-md-start fw-bold mt-5">이 브랜드의 다른 상품</h5>
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-3" id="brandProducts">
                        <!-- 반복문으로 최대 4개 까지 -->
                        
                    </div>

                    <br><br><br> 
                    <p id="noProductsMessage" style="display: none;"> 
                        <strong>조회된 상품이 없습니다.</strong>
                    </p>
                    <br><br><br>

                </div>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        console.log('DOMContentLoaded event fired');

        const sellButton = document.querySelector('.btn-sell');
        if (sellButton) {
            const initialPrice = parseFloat(document.getElementById('initialPrice').value);
            if (!isNaN(initialPrice)) {
                const discountedPrice = Math.floor((initialPrice * 0.9) / 10) * 10;
                document.getElementById('initialPriceText').textContent = discountedPrice.toLocaleString() + ' 원';
            } else {
                console.error('Initial price is not a valid number');
            }
        } else {
            console.error('Sell button not found');
        }

        function showCm() {
            console.log('showCm function called'); // 추가된 로그
            const cmTable = document.querySelector('.cm-table');
            const inchesTable = document.querySelector('.inches-table');
            if (cmTable && inchesTable) {
                cmTable.style.display = 'table';
                inchesTable.style.display = 'none';
            } else {
                console.error('Size tables not found');
            }
        }

        function showInches() {
            console.log('showInches function called'); // 추가된 로그
            const cmTable = document.querySelector('.cm-table');
            const inchesTable = document.querySelector('.inches-table');
            if (cmTable && inchesTable) {
                cmTable.style.display = 'none';
                inchesTable.style.display = 'table';
            } else {
                console.error('Size tables not found');
            }
        }

        // 카테고리 값에 따라 사이즈 테이블 URL 결정
        function getSizeTableUrl(category) {
            switch(category) {
                case 'shoes':
                    return '/product/detail/product/size_table_shoes';
                case 'pants':
                    return '/product/detail/product/size_table_pants';
                case 'top':
                    return '/product/detail/product/size_table_top';
                case 'accessory':
                    return null; // 액세서리인 경우 사이즈 테이블을 로드하지 않음
                default:
                    console.error('Unknown category:', category);
                    return null;
            }
        }

        // 페이지가 로드될 때 사이즈 테이블을 로드하는 함수
        function loadSizeTable() {
            const category = document.getElementById('category').value;
            const sizeTableContainer = document.getElementById('sizeTableContainer');
            const toggleButtons = document.querySelector('.toggle-buttons');
            const sizeInfo = document.getElementById('sizeInfo');

            if (category === 'accessory') {
                sizeTableContainer.style.display = 'none';
                if (toggleButtons) {
                    toggleButtons.style.display = 'none';
                }
                sizeInfo.style.display = 'none';
            }

            if (category === 'shoes' && toggleButtons) {
                toggleButtons.style.display = 'none';
            }

            fetch(`/product/size_table?category=${category}`)
                .then(response => response.text())
                .then(html => {
                    sizeTableContainer.innerHTML = html;
                    sizeTableContainer.style.display = 'block'; // 사이즈 테이블 표시
                    if (category !== 'shoes' && toggleButtons) {
                        toggleButtons.style.display = 'flex'; // 버튼 표시
                    }
                    // 사이즈 테이블이 로드된 후 인치와 센치미터 버튼에 이벤트 리스너를 추가합니다.
                    const showCmButton = document.querySelector('button[onclick="showCm()"]');
                    const showInchesButton = document.querySelector('button[onclick="showInches()"]');
                    if (showCmButton && showInchesButton) {
                        showCmButton.addEventListener('click', showCm);
                        showInchesButton.addEventListener('click', showInches);
                        console.log('Event listeners added to buttons'); // 추가된 로그
                    } else {
                        console.error('Show buttons not found');
                    }
                })
                .catch(error => console.error('Error loading size table:', error));
        }

        // 화면이 로드될 때 사이즈 테이블을 불러옴
        loadSizeTable();

        let selectedSize = '';
        let selectedPrice = '';
        let transactionType = '';
        let discountedPrice = 0;

        const sizeButton = document.getElementById('sizeButton');
        const sizeModal = document.getElementById('sizeModal');
        const confirmSizeButton = document.getElementById('confirmSizeButton');
        const purchaseButton = document.querySelector('.btn-purchase'); // 구매 버튼 요소
        const purchasePriceElement = purchaseButton.querySelector('.m-0.ms-2'); // 구매 버튼 가격 텍스트 요소
        const productPriceElement = document.getElementById('productPrice'); // 상품 가격 텍스트 요소

        // 초기 로드 시 최저가 사이즈로 설정
        const minPriceSize = document.getElementById('minPriceSize').value;
        selectedSize = minPriceSize;

        // Size 선택 모달에서 사이즈 버튼 클릭 이벤트
        sizeModal.addEventListener('click', function(event) {
            if (event.target.classList.contains('size-option')) {
                // 모든 버튼의 활성화 상태를 초기화
                sizeModal.querySelectorAll('.size-option').forEach(btn => btn.classList.remove('active'));
                // 클릭된 버튼을 활성화
                event.target.classList.add('active');
                // 선택된 사이즈 저장
                selectedSize = event.target.dataset.size;
                selectedPrice = event.target.dataset.price; // 선택된 사이즈의 가격 저장
            }
        });

        // Size 선택 모달에서 사이즈 버튼 클릭 이벤트
        sizeModal.addEventListener('show.bs.modal', function(event) {
            const sizeOptions = sizeModal.querySelectorAll('.size-option');
            if (sizeOptions.length === 0) {
                // alert('구매 가능한 사이즈가 없습니다.');
                Swal.fire({
                    html: `  
                        <img src="/img/header/Goodz_logo3.png" />
                        <h3 class="mt-4">구매 가능한 사이즈가 없습니다.</h3>
                    `,
                    confirmButtonText: "확인",
                })
                event.preventDefault(); // 모달 창 열림 방지
                return;
            }
        });

        // Size 선택 모달에서 선택 완료 버튼 클릭 이벤트
        confirmSizeButton.addEventListener('click', function() {
            if (selectedSize && selectedPrice) {
                sizeButton.textContent = selectedSize;
                purchasePriceElement.textContent = parseInt(selectedPrice).toLocaleString() + ' 원'; // 구매 버튼 가격 업데이트
                productPriceElement.textContent = parseInt(selectedPrice).toLocaleString() + ' 원'; // 상품 가격 업데이트 박은서 
                var modal = bootstrap.Modal.getInstance(sizeModal);
                modal.hide();
                // 선택한 사이즈에 대해 그래프 업데이트
                updateChart('AllTime');
            } else {
                // alert('사이즈를 선택해주세요.');
                Swal.fire({
                    html: `  
                        <img src="/img/header/Goodz_logo3.png" />
                        <h3 class="mt-4">사이즈를 선택해주세요.</h3>
                    `,
                    confirmButtonText: "확인",
                })
            }
        });

        const modal = document.getElementById('transactionModal');
        // Transaction Modal 이벤트 리스너
        modal.addEventListener('show.bs.modal', function(event) {
            const button = event.relatedTarget; // 모달을 트리거한 버튼
            transactionType = button.getAttribute('data-type'); // 거래 타입 (구매 또는 판매)
            let prices = button.getAttribute('data-prices');
            const modalTitle = transactionType === 'purchase' ? '구매하기' : '판매하기';
            
            // 모달 제목 변경
            modal.querySelector('.modal-title').textContent = modalTitle;

            // 모달 바디 내용 초기화
            const modalBody = modal.querySelector('.modal-body');
            modalBody.innerHTML = '';

            if (transactionType === 'purchase') {
                prices = JSON.parse(prices); // 구매의 경우 JSON 객체

                // 가격 객체가 비어 있으면 알림 메시지 표시하고 모달 창 열지 않음
                if (Object.keys(prices).length === 0) {
                    // alert('구매 가능한 사이즈가 없습니다.');
                    Swal.fire({
                        html: `  
                            <img src="/img/header/Goodz_logo3.png" />
                            <h3 class="mt-4">구매 가능한 사이즈가 없습니다.</h3>
                        `,
                        confirmButtonText: "확인",
                    })
                    event.preventDefault(); // 모달 창 열림 방지
                    return;
                }

                // 사이즈와 가격 버튼 생성
                Object.keys(prices).forEach(size => {
                    const price = prices[size];
                    const button = document.createElement('button');
                    button.className = 'btn btn-outline-secondary purchase-option';
                    button.dataset.size = size;
                    button.dataset.price = price;
                    button.innerHTML = `${size}<br>${parseInt(price).toLocaleString()}원`;
                    modalBody.appendChild(button);
                });
            } else {
                const category = document.getElementById('category').value;
                const initialPrice = parseFloat(document.getElementById('initialPrice').value);

                let sizes = [];
                if (category === 'shoes') {
                    sizes = [220, 230, 240, 250, 260, 270, 280];
                } else if (category === 'top' || category === 'pants') {
                    sizes = ['XS', 'S', 'M', 'L', 'XL', 'XXL'];
                } else {
                    sizes = ['free'];
                }

                // 사이즈 버튼 생성 (판매의 경우 가격은 발매가 * 0.9)
                sizes.forEach(size => {
                    const button = document.createElement('button');
                    button.className = 'btn btn-outline-secondary purchase-option';
                    button.dataset.size = size;

                    // 판매 가격 계산
                    discountedPrice = Math.floor((initialPrice * 0.9) / 10) * 10;
                    button.dataset.price = discountedPrice;
                    button.innerHTML = `${size}<br>${discountedPrice.toLocaleString()}원`;
                    modalBody.appendChild(button);
                });
            }

            // 각 버튼에 클릭 이벤트 리스너 추가
            modal.querySelectorAll('.purchase-option').forEach(btn => {
                btn.addEventListener('click', function() {
                    // 모든 버튼의 활성화 상태를 초기화
                    modal.querySelectorAll('.purchase-option').forEach(b => b.classList.remove('active'));
                    // 클릭된 버튼을 활성화
                    this.classList.add('active');
                    // 선택된 사이즈와 가격 저장
                    selectedSize = this.dataset.size;
                    selectedPrice = this.dataset.price;
                });
            });
        });

        // 거래하기 버튼 클릭 이벤트 리스너 추가
        document.getElementById('confirmTransactionButton').addEventListener('click', function() {
            if (selectedSize && selectedPrice) {
                // 선택된 사이즈와 가격으로 거래 요청을 보냄
                console.log(`거래 요청: 타입 - ${transactionType}, 사이즈 - ${selectedSize}, 가격 - ${selectedPrice}`);

                const productNo = document.getElementById('productNo').value;

                // GET 요청을 보내고 페이지를 이동
                let url;
                if (transactionType === 'purchase') {
                    url = new URL(`/pay/buy?pNo=${productNo}`, window.location.origin);
                    url.searchParams.append('price', selectedPrice);                        
                } else {
                    url = new URL(`/pay/sell/${productNo}`, window.location.origin);
                    url.searchParams.append('price', discountedPrice);
                }
                url.searchParams.append('size', selectedSize);
                window.location.href = url;
            } else {
                // alert('사이즈를 선택해주세요.');
                Swal.fire({
                    html: `  
                        <img src="/img/header/Goodz_logo3.png" />
                        <h3 class="mt-4">사이즈를 선택해주세요.</h3>
                    `,
                    confirmButtonText: "확인",
                })
            }
        });

        // 차트 데이터 설정
        let charts = {}; // 전역 변수로 charts 객체 선언

        async function fetchPriceHistory(period) {
            try {
                const productNo = document.getElementById('productNo').value;

                if (!selectedSize) {
                    throw new Error('Size is not selected');
                }

                const response = await fetch(`/api/getPriceHistory?period=${period}&pNo=${productNo}&size=${selectedSize}`);
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const data = await response.json();
                console.log(`Fetched data for period ${period}:`, data); // 데이터 구조 확인을 위한 로그 추가
                return data;
            } catch (error) {
                console.error('Error fetching price history:', error);
                return [];
            }
        }

        function formatDate(dateString) {
            const options = { year: 'numeric', month: 'short', day: 'numeric' };
            return new Date(dateString).toLocaleDateString(undefined, options);
        }

        async function updateChart(period) {
            try {
                const priceHistory = await fetchPriceHistory(period);
                if (!Array.isArray(priceHistory)) {
                    throw new Error('Invalid data format: expected an array');
                }

                const labels = priceHistory.map(price => formatDate(price.updatedAt));
                const data = priceHistory.map(price => price.fluctuatedPrice);
                
                const chartData = {
                    labels: labels,
                    datasets: [{
                        label: '가격 변동',
                        data: data,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 2,
                        fill: false
                    }]
                };

                const ctx = document.getElementById(`priceChart${period}`).getContext('2d');
                if (!ctx) {
                    throw new Error(`Canvas element for period ${period} not found`);
                }
                // 기존 차트가 있으면 파괴
                if (charts[period]) {
                    charts[period].destroy();
                }

                // 새로운 차트를 생성하고 저장
                charts[period] = new Chart(ctx, {
                    type: 'line',
                    data: chartData,
                    options: {
                        responsive: true,
                        scales: {
                            x: { beginAtZero: false },
                            y: { beginAtZero: true }
                        },
                        plugins: {
                            datalabels: {
                                display: function(context) {
                                    const isEmpty = context.dataset.data.length === 0;
                                    console.log('Data length:', context.dataset.data.length, 'Display:', isEmpty);
                                    return isEmpty;
                                },
                                anchor: 'center',
                                align: 'center',
                                font: {
                                    weight: 'bold',
                                    size: 16
                                },
                                color: 'red',
                                formatter: function() {
                                    return '조회한 내역이 없습니다';
                                }
                            }
                        }
                    },
                    plugins: [ChartDataLabels]
                });

                console.log(`Chart for period ${period} updated successfully`);
            } catch (error) {
                console.error('Error updating chart:', error);
            }
        }

        // 페이지가 로드될 때 전체 기간 차트 업데이트
        updateChart('AllTime');

        // 탭 클릭 이벤트 핸들러
        document.getElementById('priceTab').addEventListener('click', (e) => {
            const periodMap = {
                'all-time-tab': 'AllTime',
                'one-week-tab': '1Week',
                'one-month-tab': '1Month',
                'three-months-tab': '3Months',
                'six-months-tab': '6Months'
            };
            const period = periodMap[e.target.id];
            if (period) {
                updateChart(period);
            }
        });

        // 무한 스크롤
        let page = 0;
        const size = 4;
        const maxPages = 10;
        const brandProductsContainer = document.getElementById('brandProducts');
        const noProductsMessage = document.getElementById('noProductsMessage');
        let allProductsLoaded = false;
        const loadedProducts = new Set();

        const loadMoreProducts = () => {
            if (allProductsLoaded || page >= maxPages) return;

            const brand = document.getElementById('brand').value;
            const category = document.getElementById('category').value;
            const pNo = document.getElementById('productNo').value;
            console.log("brand : " + brand);
            console.log("category : " + category);
            console.log("pNo : " + pNo);

            fetch(`/product/brand/products?page=${page}&size=${size}&brand=${brand}&category=${category}&pNo=${pNo}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok tq' + response.status);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.length === 0 && page === 0) {
                        noProductsMessage.style.display = 'block';
                    } else {
                        noProductsMessage.style.display = 'none';
                    }

                    if (data.length < size) {
                        allProductsLoaded = true;
                    }

                    if (data.length > 0) {
                        console.log(data);
                        data.forEach(product => {

                        if (product.productName !== undefined && !loadedProducts.has(product.productName)) {
                            loadedProducts.add(product.productName);
                            const col = document.createElement('div');
                            col.classList.add('col');

                            const card = `
                                <div class="card border-0">
                                    <div class="card-body">
                                        <a href="/product/detail/${product.pno}">
                                            <img src="/files/img?imgUrl=${encodeURIComponent(product.imageUrl)}" alt="상품 이미지" class="rounded-4 w-100">
                                        </a>
                                        <div class="card-text py-2">
                                            <div class="d-flex justify-content-start column-gap-1">
                                                <p class="user-id fw-bold m-0">${product.productName}</p>
                                            </div>
                                            <div class="d-flex justify-content-start column-gap-1">
                                                <p id="productPrice" class="m-0 ms-2">${product.formattedMinPrice}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `;
                            col.innerHTML = card;
                            brandProductsContainer.appendChild(col);
                        }
                        });
                        page++;
                    }
                })
                .catch(error => console.error('Error:', error));
        };

        const handleScroll = () => {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 800) {
                loadMoreProducts();
            }
        };

        window.addEventListener('scroll', handleScroll);
        loadMoreProducts();
    });

    </script>
</body>
</html>