<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/style_layout}">
<head>
    <title th:text="'@'+${requested.nickname}+'의 프로필'"></title>
    <style>
        .profile-img-lg {
            width: 100px;
            height: 100px;
            border-radius: 50%; /* 둥근 모서리 */
            overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 설정 */
        }

        .profile-img-lg img{
            width: 100%;
            height: 100%;
            object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너에 맞춤 */
        }
        
        .follower, .following {
            font-weight: bold;
        }

        .count-like, .count-wish {
            font-size: medium;
            margin: 0;
        }
        
        .btn-like {
            border: none;
            background: none;
        }
        
    </style>
    <!-- 팔로워/팔로잉 모달 -->
    <style>
        .modal-dialog {
            width: 40%;
            min-width: 320px;
            max-width: 400px;
        }
        .follow_img {
            width: 40px;
            height: 40px;
            border-radius: 50%; /* 둥근 모서리 */
            overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 설정 */
        }
        .follow_img img{
            width: 100%;
            height: 100%;
            object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너에 맞춤 */
        }
        .follow button {
            height: 30px;
            margin: auto 0;
        }
        /* followBtn 클래스를 가진 모든 버튼의 hover 효과 없애기 */
        .followBtn:hover {
            background-color: inherit !important;
            border-color: inherit !important;
            color: inherit !important;
            
        }

    </style>
</head>
<body layout:fragment="content">

    <div class="container" style="min-height: 650px;">

        <!-- 유저 정보 -->
        <div class="user d-flex justify-content-start justify-content-between align-items-end mt-4">
            <div class="user d-flex justify-content-start mt-4">
                <!-- 프사 -->
                <th:block th:if="${requested.profileImgNo == null}">
                    <img src="/img/user/basic_social.png" alt="프로필이미지" class="profile-img-lg">
                </th:block>
                <th:block>
                    <img th:src="|/files/${requested.profileImgNo}|" alt="프로필이미지" class="profile-img-lg">
                </th:block>
                <div class="d-flex flex-column justify-content-center ms-3">
                    <!-- 유저닉네임 -->
                    <div class="user_nickname_area mb-2 d-flex justify-content-start">
                        <p class="userNickname fs-2 m-0 text-start" th:text="${requested.nickname}"></p>
                         <!-- 프로필 관리 버튼 -->
                        <th:block th:if="${loginUser != null and loginUser.userId == requested.userId}">
                            <div class="d-flex align-items-center justify-content-center">
                                <a href="/user/manage_info" class="btn border-secondary-subtle ms-3" type="button" style="color: rgb(80, 80, 80); font-size: smaller; width: 100px; height: 30px;">
                                    프로필 관리
                                </a>
                            </div>
                        </th:block>
                    </div>

                    <!-- 팔로워/팔로잉 정보 -->
                    <div class="followInfo d-flex text-start">
                        <button type="button" class="btn ps-0 pe-2 py-0" data-bs-toggle="modal" data-bs-target="#modal-follower"><span>팔로워 </span><span class="follower" id="countFollower" th:text="${requested.countFollower}"></span></button>
                        <span class="text-body-tertiary ">|</span>
                        <button type="button" class="btn ps-2 pe-0 py-0" data-bs-toggle="modal" data-bs-target="#modal-following"><span>팔로잉 </span><span class="following" id="countFollowing" th:text="${requested.countFollowing}"></span></button>
                    </div>

                    <!-- 팔로워 모달 -->
                    <div class="modal fade" tabindex="-1" id="modal-follower">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-center">팔로워</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <!-- [DB] 팔로워 목록 -->
                                <div class="modal-body" id="followerList">

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 팔로잉 모달 -->
                    <div class="modal fade" tabindex="-1" id="modal-following">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-center">팔로잉</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <!-- [DB] 팔로잉 목록 -->
                                <div class="modal-body" id="followingList">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- 로그인 유저일 때 -->
            <div th:if="${loginUser != null}">
                <th:block th:if="${loginUser.userId == requested.userId}">
                    <!-- 게시글 등록버튼 -->
                    <a href="/styles/insert" class="p-0" style="color: black; display: inline-flex; align-items: center; justify-content: center; border: 1px solid black; padding: 5px; border-radius: 4px; text-decoration: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="24px" height="24px">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </a>
                </th:block>
                <th:block th:if="${loginUser.userId != requested.userId}">
                        <!-- 로그인 유저 팔로잉 목록이 비어 있을 때 -->
                        <th:block th:if="${loginUserFollowingList.isEmpty()}">
                            <button type="button" class="followBtn btn btn-dark btn-sm" id="follow" onclick="updateFollow(this)" th:data-profileId="${requested.userId}">팔로우</button>
                        </th:block>
                        <!-- 로그인 유저 팔로잉 목록이 존재할 때 -->
                        <th:block th:unless="${loginUserFollowingList.isEmpty()}">
                            <th:block th:if="${#lists.contains(loginUserFollowingList, requested)}">
                                <button type="button" class="followBtn btn btn-outline-secondary btn-sm" id="following" onclick="updateFollow(this)" th:data-profileId="${requested.userId}">팔로잉</button>
                            </th:block>
                            <th:block th:unless="${#lists.contains(loginUserFollowingList, requested)}">
                                <button type="button" class="followBtn btn btn-dark btn-sm" id="follow" onclick="updateFollow(this)" th:data-profileId="${requested.userId}">팔로우</button>
                            </th:block>
                        </th:block>
                    </th:block>
            </div>
            
            <!-- 비로그인하거나 프로필계정과 로그인한 유저가 다른 경우 -->
            <th:block th:if="${loginUser == null}">
                <button type="button" class="followBtn btn btn-dark btn-sm" id="follow" onclick="updateFollow(this)" th:data-profileId="${requested.userId}"> 팔로우 </button>
            </th:block>
            
        </div>

        <hr class="my-2">

        <!-- [DB] 게시글 반복 위치 -->
        <!-- 조회된 게시글이 없는 경우 -->
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-3" style="margin-bottom: 70px;">
            <th:block th:if="${postList.isEmpty()}">
                <p class="fw-bold mx-auto text-center text-body-tertiary mt-5">등록된 스타일이 없습니다!</p>
            </th:block>

            <!-- 조회된 게시글이 있는 경우 -->
            <th:block th:each="post : ${postList}">
                <div class="col">
                    <div class="card border-0">
                        <div class="card-body">
                            <!--[DB] 이미지 -->
                            <!-- <a href="/styles/cmmtX"> -->
                            <a th:href="|/styles/${post.postNo}|">
                                <img th:src="|/files/${post.fileNo}|" alt="게시글" class="rounded-4" style="width: 100%;">
                            </a>
                            <!--[DB] 스크랩 & 하트 -->
                            <div class="d-flex justify-content-end column-gap-2 mt-2 px-2">
                                <button class="btn-wish" th:onclick="'btnWish(this, \'post\', ' + ${post.postNo} + ')'" style="text-decoration: none; color: black;" th:data-logged-in="${loginUser != null}">
                                    <svg xmlns="http://www.w3.org/2000/svg" th:fill="${post.isWishlisted}" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="26" height="26">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                                    </svg>
                                    <span class="count-wish" th:text="${post.wishCount}"></span>
                                </button>
                                <button class="btn-like" th:onclick="'btnLike(this, ' + ${post.postNo} + ')'" style="text-decoration: none; color: black;" th:data-logged-in="${loginUser != null}">
                                    <svg xmlns="http://www.w3.org/2000/svg" th:fill="${post.isLiked}" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="26" height="26">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                    </svg>
                                    <span class="count-like" th:text="${post.likeCount}"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    
    <!-- for like & wishList -->
    <th:block th:if="${loginUser != null}">
        <input type="hidden" id="isLoggedIn" th:data-logged-in="${loginUser != null}">
        <input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="userId" id="loginUserId" th:value="${loginUser.userId}">
    </th:block>
    
    <script>
        let profileId = "[[${requested.userId}]]";
        
        followerList();
        followingList();
        
        /* 종속된 팔로워 조회 */
        function followerList() {
            let request = new XMLHttpRequest();
    
            // 팔로워 조회
            request.open('GET', '/follower/'+profileId);
            request.send();
    
            request.onreadystatechange = function () {
                
                // 요청 성공 시,
                if (request.readyState == request.DONE && request.status == 200) {
                    // 팔로워 목록 출력
                    let response = request.responseText;
    
                    // 서버에서 렌더링한 HTML로 갱신(SSR)
                    let data = response;
    
                    let followerList = document.getElementById('followerList');
                    followerList.innerHTML = data;
                }
            }
        }

        /* 종속된 팔로잉 조회 */
        function followingList() {
            let request = new XMLHttpRequest();
    
            // 팔로잉 조회
            request.open('GET', '/following/' +profileId);
            request.send();
    
            request.onreadystatechange = function () {
                
                // 요청 성공 시,
                if (request.readyState == request.DONE && request.status == 200) {
                    // 팔로워 목록 출력
                    let response = request.responseText;
    
                    // 서버에서 렌더링한 HTML로 갱신(SSR)
                    let data = response;
    
                    let followingList = document.getElementById('followingList');
                    followingList.innerHTML = data;
                }
            }
        }

        function updateFollow(element) {
            
            // 로그인 여부 체크; 비로그인 시, 로그인 페이지로 튕김
            if (!isLoggedIn) {
                Swal.fire({
                    title: "로그인 페이지로 이동하시겠습니까?",
                    text: "회원가입 및 로그인을 하시며 다양한 기능을 이용할 수 있습니다!",
                    imageUrl: "http://localhost:8080/img/header/Goodz_logo3.png",
                    showCancelButton: true,
                    confirmButtonColor: "#393E46",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "로그인하기",
                    cancelButtonText: "취소"
                  }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                        return;
                    }
                    return;
                  });
                // alert('로그인 후 이용 가능합니다.');
                //let moveToLogin = confirm('로그인 페이지로 이동하시겠습니까?');
                //
                //if (moveToLogin) {
                //    window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                //    return;
                //}
                //return;
            }

            let requestId = element.getAttribute('data-profileId');
            let $csrfToken = document.getElementById('csrfToken');
            let csrfToken = $csrfToken.value;

            let data = {
                'userId' : requestId,
                'followerId' : userId
            };
            
            let $button = element.getAttribute('class');

            //팔로우 요청
            if ($button === 'followBtn btn btn-dark btn-sm') {

                console.log("팔로우 요청" + userId + " -> " + requestId);
                console.dir(data);

                let request = new XMLHttpRequest();
    
                request.open('POST', '/follow');
                request.setRequestHeader('content-Type', 'application/json');
                request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                request.send(JSON.stringify(data));

                // 요청상태 체킹
                request.onreadystatechange = function () {
                    if (request.readyState == request.DONE && request.status == 200) {
                        
                        let response = request.responseText;
                        
                        if (response == 'SUCCESS') {
                            console.log('팔로우 등록 성공');

                            // 버튼 변경: 팔로우 -> 팔로잉
                            element.setAttribute('class', 'followBtn btn btn-outline-secondary btn-sm');
                            element.innerText = '팔로잉';

                            followerList();
                            followingList();
                            countFollow()
                        }
                    }
                }
                

            // 언팔 요청
            } else if($button === 'followBtn btn btn-outline-secondary btn-sm') {

                console.log("언팔 요청" + userId + " -/-> " + requestId);
                console.dir(data);

                let request = new XMLHttpRequest();

                request.open('DELETE', '/follow');
                request.setRequestHeader('content-Type', 'application/json');
                request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                request.send(JSON.stringify(data));

                // 요청상태 체킹
                request.onreadystatechange = function () {
                    if (request.readyState == request.DONE && request.status == 200) {
                        console.log('언팔처리 성공');

                        let response = request.responseText;

                        if (response == 'SUCCESS') {
                            element.setAttribute('class', 'followBtn btn btn-dark btn-sm');
                            element.innerText = '팔로우';

                            followerList();
                            followingList();
                            countFollow()
                        }
                    }
                }
            }
            
        }

        // 팔로워/팔로잉 조회숫자 갱신
        function countFollow() {
            

            let request = new XMLHttpRequest();
    
            request.open('GET', '/follow/count/' + profileId);
            request.send();

            request.onreadystatechange = function () {
    
                if (request.readyState == request.DONE && request.status == 200) {
                    
                    let response = JSON.parse(request.responseText);
                    
                    console.log('팔로우 갯수 갱신 요청 완료');
                    console.log('업데이트된 팔로워 수: ' + response.countFollower);
                    console.log('업데이트된 팔로잉 수: ' + response.countFollowing);

                    // 팔로워/팔로잉 조회 숫자 갱신
                    // - 팔로워
                    let updatedFollowerCount = response.countFollower;
                    let $followerCount = document.getElementById('countFollower');
                    $followerCount.innerText = '';
                    $followerCount.innerText = updatedFollowerCount;
                    
                    // - 팔로잉
                    let updatedFollowingCount = response.countFollowing;
                    let $followingCount = document.getElementById('countFollowing');
                    $followingCount.innerText = '';
                    $followingCount.innerText = updatedFollowingCount;
                }
            }
        }

    </script>
</body>
</html>
