/* .carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    object-position: top;
  }
  
  .carousel-inner {
    height: 500px;
  }
  
  @media only screen and (max-width: 1024px) {
    #productCarousel {
      width: 100%;
    }
  }
   */