<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springproject.goodz.batch.mapper.BatchProductMapper">

    <select id="findProductOptionsByProductId" resultType="com.springproject.goodz.product.dto.ProductOption">
        SELECT * 
          FROM product_option 
         WHERE p_no = #{pNo}
    </select>

    <select id="findAllProducts" resultType="com.springproject.goodz.product.dto.Product">
        SELECT * FROM product
    </select>

    <update id="updateProduct">
        UPDATE product
        SET views = #{views}
        WHERE p_no = #{pNo}
    </update>
    
    <update id="updateProductViews">
        UPDATE product
        SET views = 0
        WHERE p_no = #{pNo}
    </update>

    <select id="countPurchasesByProductIdSince" resultType="int">
        SELECT COUNT(*) 
          FROM Purchase 
         WHERE p_no = #{pNo} 
           AND option_id = #{optionId}
           AND ordered_at >= #{since}
    </select>

    <select id="countWishListByProductId" resultType="int">
        SELECT COUNT(*) 
          FROM Wishlist 
         WHERE parent_no = #{pNo} 
           AND parent_table = 'product'
    </select>

    <select id="countSalesByProductIdSince" resultType="int">
        SELECT COUNT(*) 
          FROM Sales 
         WHERE p_no = #{pNo}
           AND size = #{size}
           AND sale_date >= #{since}
    </select>

    <insert id="insertPriceHistory">
        INSERT INTO PriceHistory (p_no, size, fluctuated_price)
        VALUES (#{pNo}, #{size}, #{previousPrice})
    </insert>

    <update id="updateProductOption">
        UPDATE product_option
        SET option_price = #{optionPrice}
        WHERE option_id = #{optionId}
    </update>

</mapper>
