<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springproject.goodz.product.mapper.PriceHistoryMapper">

    <!--  신규 상품 등록 시 초기 가격 추가 -->
    <insert id="makeHistory">
        INSERT INTO pricehistory (p_no, size, fluctuated_price)
        VALUES (#{pNo}, #{size}, #{initialPrice})
    </insert>
    
    <!-- 상품 별 가격 히스토리 조회 -->
    <select id="findPriceHistoryLastWeek" resultType="PriceHistory">
        SELECT * 
          FROM pricehistory 
         WHERE p_no = #{pNo}
           AND size = #{size}
           AND updated_at >= DATE_SUB(CURRENT_DATE, INTERVAL 7 DAY)
         ORDER BY updated_at
    </select>

    <select id="findPriceHistoryLastMonth" resultType="PriceHistory">
        SELECT * 
          FROM pricehistory
         WHERE p_no = #{pNo}
           AND size = #{size}
           AND updated_at >= DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH)
         ORDER BY updated_at
    </select>

    <select id="findPriceHistoryLast3Months" resultType="PriceHistory">
        SELECT * 
          FROM pricehistory 
         WHERE p_no = #{pNo} 
           AND size = #{size}
           AND updated_at >= DATE_SUB(CURRENT_DATE, INTERVAL 3 MONTH)
         ORDER BY updated_at
    </select>

    <select id="findPriceHistoryAllTime" resultType="PriceHistory">
        SELECT * 
          FROM pricehistory 
         WHERE p_no = #{pNo}
           AND size = #{size}
         ORDER BY updated_at
    </select>


</mapper>
