<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springproject.goodz.product.mapper.ProductOptionMapper">
    
    <!-- 상품 옵션 등록 -->
    <insert id="insertProductOption">
        INSERT INTO product_option (p_no, size, option_price, stock_quantity, status)
        VALUES (#{pNo}, #{size}, #{optionPrice}, #{stockQuantity}, #{status})
    </insert>

    <!-- 상품 옵션 조회 -->
    <select id="getProductOptionsByProductId" resultType="ProductOption">
        SELECT * 
        FROM product_option 
        WHERE p_no = #{pNo}
          AND status = 'on'
    </select>

    <!-- admin 상품 수정 시 옵션 조회 -->
    <select id="adminOptionsByProductId" resultType="ProductOption">
        SELECT * 
        FROM product_option 
        WHERE p_no = #{pNo}
    </select>

    <!-- optionId 로 옵션 단일 조회 -->
    <select id="getProductOptionByOptionId" resultType="ProductOption">
        SELECT *
        FROM product_option
        WHERE option_id = #{optionId}
    </select>
    
    <!-- 구매 업데이트 성공 시 재고 수량 - 1 -->
    <update id="minusQuantityByProductId">
        UPDATE product_option
           SET stock_quantity = stock_quantity - 1 
         WHERE option_id = #{optionId} 
    </update>

    <!-- 옵션 아이디 별 재고 수량 확인 -->
    <select id="checkStockQuantity">
        SELECT stock_quantity
          FROM product_option
         WHERE option_id = #{optionId}
           AND status = 'on'
    </select>

    <!-- 상품 상태 업데이트 -->
    <update id="changeStatus">
        UPDATE product_option
           SET status = 'off'
         WHERE option_id = #{optionId} 
    </update>
</mapper>
