<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/style_layout}"
      >
<head>
    <title>게시글 등록</title>
    <style>
        .productImg {
            /* width: 100%; */
            height: 100%;
        }
    </style>

    <!-- 모달창 css -->
    <style>
        .modal-dialog {
            min-height: 600px;
        }

        .modal-content {
            height: 100%;
        }
    </style>
</head>

<body layout:fragment="content">

    <!-- 상품추가 모달창 시작-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">상품태그 추가</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <!-- 상품검색창 -->
                            <div class="d-flex w-100" role="search">
                                <input class="form-control me-2" type="search" id="searchInput" placeholder="Search" aria-label="Search" >
                            </div>
                            <!-- 검색된 상품 리스트 -->
                            <div class="searchResults d-flex flex-column w-100" id="searchResults">

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- 상품추가 모달창 끝-->


    <div class="container">
        <div class="my-5 d-flex flex-column align-items-center">
           <p class="fs-3 fw-bold" style="width:600px">게시글 등록</p>

            <form id="form" action="/styles/insert" method="post" style="width: 600px;" enctype="multipart/form-data">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <input type="hidden" name="userId" th:value="${loginUser.userId}">
                <input type="hidden" name="nickname" id="nickname" th:value="${loginUser.nickname}">
                <!-- 이미지첨부 -->
                <span class="form-text">최대 10장</span>
                <input id="imageInput" name="attachedFiles" class="form-control" type="file"  multiple>
                <!-- 첨부파일 미리보기 -->
                <div id="imagePreview" style="height: 100%; padding: 15px;"></div>
                <!-- 대표로 선택한 이미지가 넘어감 -->
                <input type="hidden" id="representativeImage" name="mainImgIndex">
                <br>
                <!-- 내용 -->
                <textarea  id="content" name="content" class="form-control" type="text" placeholder="내용을 입력하세요" style="box-shadow: none !important;font-size: smaller; height: 150px;" ></textarea>
                <br>
                <!-- 상품태그 영역 -->
                <div class="d-flex justify-content-between">
                    <label for="formFileMultiple" class="form-label" style="font-weight: bold; margin-bottom: 0;">상품태그</label>
                    <!-- 상품추가버튼 -->
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="p-0 mb-1" style="color: white;display: inline-flex;align-items: center;justify-content: center;border: none;padding: 5px;border-radius: 4px;text-decoration: none;background-color: #393e46;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="24px" height="24px">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </button>
                </div>
                
                <!-- 태그된 상품 -->
                <div class="productTag-area border rounded-2">
                    <div class="row row-cols-2 row-cols-md-4 g-2 p-3" style="min-height: 233px;">

                    </div>
                </div>
                <button type="submit" id="btn-insert" class="btn my-5" style="color: white; background-color: #393E46; width: 600px;">작성 완료</button>
            </form>
        </div>
    </div>
    <script>
        /* 첨부이미지 */
        const imageInput = document.getElementById('imageInput');
        const imagePreview = document.getElementById('imagePreview');
        const representativeImageInput = document.getElementById('representativeImage');
    
        imageInput.addEventListener('change', function() {
            imagePreview.innerHTML = '';
            Array.from(imageInput.files).forEach((file, index) => {
                const img = document.createElement('img');
                img.src = URL.createObjectURL(file);
                img.width = 100;
                img.height = 100;
                img.style.cursor = 'pointer';
                img.addEventListener('click', () => {
                    representativeImageInput.value = index;
                    document.querySelectorAll('#imagePreview img').forEach(img => img.style.border = 'none');
                    img.style.border = '2px solid red';
                });
                imagePreview.appendChild(img);
            });
        });

        var taggedProducts = [];    // 추가한 상품번호 리스트 (폼제출시 필요)
        var nickname = document.getElementById('nickname').value;

        /* 상품 검색 - 상품태그 */
        $(document).ready(function(){
            $('#searchInput').on('input', function() {
                var searchQuery = $(this).val(); // 입력된 검색어 가져오기
                if(searchQuery.length >= 3) { // 최소 3글자 이상 입력되어야 함
                    // console.log(searchQuery)
                    // AJAX 요청 보내기
                    $.ajax({
                        url: '/tag', // 검색을 처리할 서버의 엔드포인트
                        method: 'GET',
                        data: { keyword: searchQuery }, // 검색어를 서버에 전달
                        success: function(data) {
                            // 검색 결과를 받아와서 화면에 표시
                            $('#searchResults').html(data);
                        }
                    });
                } else {
                    // 검색어가 충분하지 않을 때는 검색 결과를 비우기
                    $('#searchResults').empty();
                }
            });
        });

        /* 상품태그리스트 - 추가*/
        $(document).ready(function(){
            // searchResults 내부의 product 요소에 대한 클릭 이벤트 핸들러 등록
            $('#searchResults').on('click', '.product', function() {
                // 클릭된 상품 정보 가져오기
                var productNo = $(this).data('product-no');                     // 상품번호
                var productImgSrc = $(this).find('.productImg').attr('src');    // 상품 대표이미지
                var brand = $(this).find('.card-title').text();                 // 브랜드명
                var productName = $(this).find('.card-text').text();            // 상품명

                // 이미 추가된 상품인지 확인
                if(taggedProducts.includes(productNo)) {
                    // 이미 추가된 상품이면 얼럿
                    // alert('이미 추가된 상품입니다.');
                    Swal.fire({
                        html: `  
                            <img src="/img/header/Goodz_logo3.png" />
                            <h3 class="mt-4">이미 추가된 상품입니다.</h3>
                        `,
                        confirmButtonText: "확인",
                    })
                    return; // 추가 중단
                }

                // productTag-area에 상품 정보 추가
                var productHtml = '<div class="col" data-product-no="'+productNo+'"">';
                productHtml += '<div class="card" style="border: none;">';
                productHtml += '<div class="card" style="border: none;">';
                productHtml += '<img class="productImg rounded-2" src="' + productImgSrc + '" alt="상품이미지">';
                productHtml += '<div class="card-body p-0 m-0">';
                productHtml += '<p class="card-title m-0 fw-bold">' + brand + '</p>';
                productHtml += '<p class="card-text p-0" style="font-size: small;">' + productName + '</p>';
                productHtml += '</div></div></div>';

                $('.productTag-area .row').append(productHtml);

                // 상품번호를 taggedProducts 배열에 추가
                taggedProducts.push(productNo);
            });
        });

        /* 상품태그리스트 - 삭제*/
        $(document).ready(function(){
            // productTag-area 내부의 상품 요소에 대한 클릭 이벤트 핸들러 등록
            $('.productTag-area').on('click', '.col', function() {
                // 클릭된 상품의 상품번호 가져오기
                var productNo = $(this).data('product-no');

                // 상품태그 리스트에서 클릭된 상품 제거
                $(this).remove();

                // taggedProducts 배열에서 클릭된 상품 번호 제거
                var index = taggedProducts.indexOf(productNo);
                if (index !== -1) {
                    taggedProducts.splice(index, 1);
                }
            });
        });

        
        $(document).ready(function(){
            $('#form').submit(function(e) {
                // 폼 제출 기본 동작을 막음
                e.preventDefault();
                 // 대표 이미지 값 가져오기
                var representativeImage = document.getElementById('representativeImage').value;

                // 대표 이미지가 선택되었는지 확인
                if(representativeImage === '') {
                    // 대표 이미지가 선택되지 않은 경우 알림 표시
                    // alert('대표 이미지를 선택해주세요.');
                    Swal.fire({
                        html: `  
                            <img src="/img/header/Goodz_logo3.png" />
                            <h3 class="mt-4">대표 이미지를 선택해주세요.</h3>
                        `,
                        confirmButtonText: "확인",
                    })
                    return; // 폼 제출 중단
                }

                // 폼 데이터를 FormData 객체로 생성
                var formData = new FormData(this);
                
                // taggedProducts가 비어있지 않은 경우에만 폼 데이터에 추가
                if (taggedProducts.length > 0) {
                    // 추가된 상품리스트의 상품번호들을 폼데이터의 'taggedProducts'에 추가
                    for (var i = 0; i < taggedProducts.length; i++) {
                        formData.append('taggedProducts', taggedProducts[i]);
                    }
                } else {
                    formData.append('taggedProducts', taggedProducts);
                }

                // AJAX를 이용해 서버에 폼 데이터를 POST로 전송

                $.ajax({
                    url: '/styles/insert', // 데이터를 보낼 URL
                    method: 'POST', // POST 메소드 사용
                    data: formData, // 폼 데이터 전송
                    processData: false, // 데이터 처리 방식을 false로 설정 (FormData를 사용할 경우 필수)
                    contentType: false, // 컨텐츠 타입을 false로 설정 (FormData를 사용할 경우 필수)
                    success: function(response) {
                        // 성공적으로 요청을 처리했을 때의 동작
                        // 예를 들어, 서버로부터의 응답을 처리하는 등
                        console.log(response);
                        window.location.href = "/styles/user/@"+nickname;
                        // if (response == 'SUCCESS') {
                            
                        // }
                        
                    },
                    error: function(xhr, status, error) {
                        // 요청이 실패했을 때의 동작
                        console.error(xhr.responseText);
                    }
                });
            });
        });
        
    </script>
</body>
</html>