<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/style_layout}"
      >
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->
<head>
    <title>스타일 상세</title>
    <style>
        .product_item img {
            width: 100px;
            height: 100px;
        }
         
        .carousel-inner {
            width: 640px;
            height: 850px;
        }
        
        .carousel-item {
            width: 100%;
            height: 100%;
        }
        .followBtn{
            margin: auto 0;
            height: 30px;
        }
        
    </style>
    <!-- 모달창 css -->
    <style>
        /* 댓글 컨테이너 */
        .comment_container {
            margin: 10px 15px 0 15px;
        }
        .addBtn, .btn-cmmt-update, .btn-cmmt-delete{
            border: none;
            outline:none !important;
            box-shadow:none !important;
        }
        .udpateDelete a {
            color: black;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            border-radius: 4px;
            text-decoration: none;
        }
    </style>
</head>
<!-- ⭐ layout:fragment="레이아웃 프레그먼트 이름" -->
<body layout:fragment="content">
    <!-- 댓글 모달창 -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 500px;">
        <div class="offcanvas-header">
            <button type="button" class="btn-close m-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">댓글</h5>
        </div>
        <div class="offcanvas-body">
            <!-- 댓글 컨테이너 -->
            <div class="comment_container">

                <!-- 댓글입력칸 -->
                <div class="comment_input d-flex align-items-center" th:data-logged-in="${loginUser != null}">
                    <th:block th:if="${loginUser == null}">
                        <img src='/img/temp/profile_img_default.png' class="profile-img-m" alt="프로필 이미지">
                    </th:block>
                    <th:block th:if="${loginUser != null}">
                        <img th:src="|/files/${loginUser.profileImgNo}|" class="profile-img-m" alt="프로필 이미지">
                    </th:block>
                    <form method="post" class="d-flex align-items-center">
                        <div class="wrap_input ms-3">
                            <input type="hidden" id="csrf_token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="hidden" name="userId" id="cmmt_writer" th:value="${loginUser != null ? loginUser.userId : ''}">
                            <input type="text" name="comment" id="cmmt_content" class="form-control bg-light border-secondary-subtle rounded-4" placeholder="댓글을 입력하세요." style="box-shadow: none !important;font-size: smaller;width: 330px;">
                            
                        </div>
                        <button type="button" class="addBtn btn rounded-0 p-0" id="addBtn" onclick="insertCmmt()" style="font-size: small;width: 40px;height: 33px; margin-left: 10px;">등록</button>
                    </form>
                </div>
                <!-- [DB] 댓글 목록 -->
                <div class="cmmt_list" id="cmmt_list">
                    
            
                </div>
                <!-- 댓글 반복문 끝 -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mainContainer" style="width: 640px;">
            <h3 class="text-center fw-bold my-4">STYLE</h3>

            <!--[DB] 프로필 이미지 & 아이디 + 팔로우 버튼 -->
            <div class="socialBox d-flex justify-content-between mt-5">
                <div class="userInfo">
                    <a th:href="|/styles/user/@${writer.nickname}|" style="text-decoration: none; color: black; text-decoration-line: none;">
                        <img th:src="|/files/${writer.profileImgNo}|" class="profile-img-m" alt="프로필 이미지">
                        <span class="userId fw-bold m-0" th:text="${writer.nickname}"></span>
                    </a>
                </div>
                <!-- 로그인 유저일 때 -->
                <th:block th:if="${loginUser != null}">
                    <th:block th:if="${loginUser.userId == writer.userId}">
                        <!-- 게시글 수정&삭제버튼 -->
                         <div class="udpateDelete" style="align-self: flex-end;">
                             <a th:href="|/styles/update/${post.postNo}|">수정</a>
                             <span>|</span>
                             <a type="button" onclick="deletePost() ">삭제</a>
                         </div>
                    </th:block>
                    <th:block th:if="${loginUser.userId != writer.userId}">
                        <!-- 로그인 유저 팔로잉 목록이 비어 있을 때 -->
                        <th:block th:if="${loginUserFollowingList.isEmpty()}">
                            <button type="button" class="followBtn btn btn-dark btn-sm" id="follow" onclick="updateFollow(this)" th:data-profileId="${writer.userId}">팔로우</button>
                        </th:block>
                        <!-- 로그인 유저 팔로잉 목록이 존재할 때 -->
                        <th:block th:unless="${loginUserFollowingList.isEmpty()}">
                            <th:block th:if="${#lists.contains(loginUserFollowingList, writer)}">
                                <button type="button" class="followBtn btn btn-outline-secondary btn-sm" id="following" onclick="updateFollow(this)" th:data-profileId="${writer.userId}">팔로잉</button>
                            </th:block>
                            <th:block th:unless="${#lists.contains(loginUserFollowingList, writer)}">
                                <button type="button" class="followBtn btn btn-dark btn-sm" id="follow" onclick="updateFollow(this)" th:data-profileId="${writer.userId}">팔로우</button>
                            </th:block>
                        </th:block>
                    </th:block>
                    
                </th:block>
        
                <!-- 비로그인하거나 프로필계정과 로그인한 유저가 다른 경우 -->
                <th:block th:if="${loginUser == null}">
                    <button type="button" class="followBtn btn btn-dark btn-sm" id="follow" onclick="updateFollow(this)" th:data-profileId="${writer.userId}"> 팔로우 </button>
                </th:block>
            </div>
                    
            <!-- 게시글 이미지 -->
            <div id="carouselExample" class="carousel slide mt-2" style="width: 640px; height: 850px; position: relative;">
                <div class="carousel-inner w-100 h-100">
                    <th:block th:each="file, iterStat : ${fileList}">
                        <div th:classappend="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                            <div class="d-flex justify-content-center align-items-center w-100 h-100">
                                <img th:src="@{|/files/${file.no}|}" class="d-block rounded-2 border border-secondary-subtle" alt="게시글이미지" style="width: 100%; height: 100%; object-fit: contain;">
                            </div>
                        </div>
                    </th:block>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" style="z-index: 2; position: absolute; top: 50%; transform: translateY(-50%); left: 0;">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: gray;"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" style="z-index: 2; position: absolute; top: 50%; transform: translateY(-50%); right: 0;">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: gray;"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
            <!-- 게시글 컨텐츠 -->
            <div class="social_contents mt-2">
                <!-- 소셜버튼들 -->
                <div class="d-flex justify-content-end column-gap-2 px-2">
                    <!-- 저장 -->
                    <button class="btn-wish" th:onclick="'btnWish(this, \'post\', ' + ${post.postNo} + ')'" style="text-decoration: none; color: black;">
                        <svg xmlns="http://www.w3.org/2000/svg" th:fill="${post.isWishlisted}" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="26" height="26">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                        </svg>
                        <span class="count-wish" th:text="${post.wishCount}"></span>
                    </button>
                    <!-- 좋아요 -->
                    <button class="btn-like" th:onclick="'btnLike(this, ' + ${post.postNo} + ')'" th:data-logged-in="${loginUser != null}">
                        <svg xmlns="http://www.w3.org/2000/svg" th:fill="${post.isLiked}" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="26" height="26">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                        </svg>
                        <span class="count-like" th:text="${post.likeCount}"></span>
                    </button>
                    <!-- 댓글 -->
                    <a id="modal_open_btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="26" height="26">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
                          </svg>
                          <span class="count" id="countCmmt"></span>
                    </a>
                </div>
    
                <!-- 게시글 내용 -->
                <div class="social_text mt-2 mb-5">
                    <p class="text_title fs-4 text-start" th:text="${post.content}"></p>
                </div>
            </div>
            
            <!-- 상품태그 영역 -->
            <div class="productTags">
                <div class="product_title text-start mt-5">
                    <span>상품 태그 <span th:text="${tagCount}"></span>개</span>
                </div>
                <!-- 상품목록 -->
                <div class="product_list_area mb-5">

                    <th:block th:if="${taggedProducts.isEmpty()}">
                        <h5 class="text-body-tertiary text-center">태그된 상품이 없습니다.</h5>
                    </th:block>

                    <ul class="product_list row row-cols-1 row-cols-sm-2 row-cols-md-4 p-0 m-0" style="list-style: none;">
                        <!-- [DB] 게시글에 포함된 상품태그 불러옴 -->
                        <th:block th:each="product : ${taggedProducts}">
                            <li class="product_item text-start p-0">
                                <!-- 상품 이미지 -->
                                <a th:href="|/product/detail/${product.pNo}|" class="product_link" style="text-decoration: none; text-decoration-line: none;">
                                    <img th:src="|/files/${product.mainImgNo}|"class="product_img"  alt="상품이미지">
                                    <!-- 상품정보 -->
                                    <div class="product_desc text-black mb-2">
                                        <p class="product_brand m-0  fw-semibold" style="font-size: medium;" th:text="${product.bName}"></p>
                                        <p class="product_name m-0" style="font-size: small;" th:text="${product.productName}"></p>
                                    </div>
                                </a>
                            </li>
                        </th:block>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- for like & wishList -->
    <th:block th:if="${loginUser != null}">
        <input type="hidden" id="isLoggedIn" th:data-logged-in="${loginUser != null}">
        <input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="userId" id="loginUserId" th:value="${loginUser.userId}">
    </th:block>
    <!-- 댓글 -->
    <script>
        let postNo = "[[${post.postNo}]]";
        // 댓글 목록 요청
        cmmtList()
        countCmmt()
        /* 종송된 댓글 개수 조회 */
        function countCmmt() {
            // let $countCmmt = document.getElementById('countCmmt');
            // let countCmmt = $countCmmt.value;
            let request = new XMLHttpRequest();
            request.open('GET', '/cmmt/count/' + postNo, true);
            request.send();
            request.onreadystatechange = function () {
                if (request.readyState == request.DONE && request.status == 200) {
                    let response = JSON.parse(request.responseText);;
                    let cmmtQty = response.cmmtQty;
                    console.log('댓글 개수: ' + cmmtQty);
                    document.getElementById('countCmmt').innerText = cmmtQty;
                }
            }
        }
        
        /* 종속된 댓글 목록 조회 */
        function cmmtList() {
            // Ajax 비동기 요청
            let request = new XMLHttpRequest();
            // 요청 세팅
            // request.open(요청 메솓, URL)
            request.open('GET', '/cmmt/' + postNo);
            request.send();
            request.onreadystatechange = function () {
                
                // 요청 성공 시,
                if (request.readyState == request.DONE && request.status == 200) {
                    // 댓글 목록 출력
                    let response = request.responseText;
                    // 서버에서 렌더링한 HTML로 갱신(SSR)
                    let data = response;
                    let cmmtList = document.getElementById('cmmt_list');
                    cmmtList.innerHTML = data;
                }
            }
        }
        
        /* 댓글 등록 */
        function insertCmmt() {
            let $writer = document.getElementById('cmmt_writer');
            let $comment = document.getElementById('cmmt_content');
            let $csrfToken = document.getElementById('csrf_token');
            let writer = $writer.value;
            let comment = $comment.value;
            let csrfToken = $csrfToken.value;
            let data = {
                'postNo' : postNo,
                'userId' : writer,
                'comment' : comment
            }
            let request = new XMLHttpRequest();
            request.open('POST', '/cmmt');
            request.setRequestHeader('content-Type', 'application/json');
            request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
            // 자바스크립트의 Object 형태를 java는 읽을 수가 없어서, 문자열 형태로 변환해주어야함.
            request.send(JSON.stringify(data))
            // 요청상태 체킹
            request.onreadystatechange = function () {
                //요청 성공 시,
                if(request.readyState == request.DONE && request.status == 201 ) {
                    console.log('댓글 등록 성공');
                    let response = request.responseText;
                    if (response == 'SUCCESS') {
                        cmmtList();     // 댓글 목록 갱신
                        countCmmt();    // 댓글 갯수 갱신
                        
                        // 댓글 입력창 비우기
                        $comment.value = '';
                    } 
                }
            }
        }
        // 댓글 등록
        document.getElementById('cmmt_content').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                insertCmmt();
            }
        });
        /* 댓글 삭제*/
        function deleteCmmt(cNo) {
            let $csrfToken = document.getElementById('csrfToken');
            let csrfToken = $csrfToken.value;
            const doubleCheck = confirm('정말로 삭제하시겠습니까?');
            if (!doubleCheck) {
                return;
            }
            // 삭제요청
            // Ajax 비동기 요청
            let request = new XMLHttpRequest();
            request.open('DELETE', '/cmmt/' + cNo);
            request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
            request.send()
            // 요청 상태 체킹
            request.onreadystatechange = function () {
                
                if (request.readyState == request.DONE && request.status == 200) {
                    console.log('댓글 삭제 성공');
                    let response = request.responseText;
                    if (response == 'SUCCESS') {
                        cmmtList();     // 댓글 목록 갱신
                        countCmmt();    // 댓글 갯수 갱신
                    }
                }
            }
        }
        /* 댓글 이용 - 로그인 체크 */
        $('#cmmt_content').on('click', function() {
            var loggedIn = $('.comment_input').data('logged-in');
            if (!loggedIn) {
                Swal.fire({
                    title: "로그인 페이지로 이동하시겠습니까?",
                    text: "회원가입 및 로그인을 하시며 다양한 기능을 이용할 수 있습니다!",
                    imageUrl: "http://localhost:8080/img/header/Goodz_logo3.png",
                    showCancelButton: true,
                    confirmButtonColor: "#393E46",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "로그인하기",
                    cancelButtonText: "취소"
                  }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                        return;
                    }
                    return;
                  });
                // alert('로그인 후 이용 가능합니다.');
                //var moveToLogin = confirm('로그인 페이지로 이동하시겠습니까?');
                //if (moveToLogin) {
                //    $(this).blur();
                //    window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                //    return;
                //} else {
                //    $(this).blur(); // 입력칸 포커스 제거
                //    return;
                //}
            }
        });
    // 게시글 삭제
    function deletePost() {
        let $csrfToken = document.getElementById('csrfToken');
        let csrfToken = $csrfToken.value;
        console.log('CSRF Token:', csrfToken);
        console.log(postNo)
        if (!confirm("정말 삭제하시겠습니까?")) {
            return;
        }
        let request = new XMLHttpRequest();
        request.open('DELETE', '/styles/' + postNo);
        request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
        request.send()
        // 요청 상태 체킹
        request.onreadystatechange = function () {
            
            if (request.readyState == request.DONE && request.status == 200) {
                let response = request.responseText;
                
                if (response == 'FAIL') {
                    // alert('게시글 삭제에 실패했습니다.')
                    Swal.fire({
                        html: `  
                            <img src="/img/header/Goodz_logo3.png" />
                            <h3 class="mt-4">게시글 삭제에 실패했습니다.</h3>
                        `,
                        confirmButtonText: "확인",
                    })
                } 
                
                window.location.href = '/styles';
            }
        }
    }
    function updateFollow(element) {
            
            // 로그인 여부 체크; 비로그인 시, 로그인 페이지로 튕김
            if (!isLoggedIn) {
                Swal.fire({
                    title: "로그인 페이지로 이동하시겠습니까?",
                    text: "회원가입 및 로그인을 하시며 다양한 기능을 이용할 수 있습니다!",
                    imageUrl: "http://localhost:8080/img/header/Goodz_logo3.png",
                    showCancelButton: true,
                    confirmButtonColor: "#393E46",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "로그인하기",
                    cancelButtonText: "취소"
                  }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                        return;
                    }
                    return;
                  });
                // alert('로그인 후 이용 가능합니다.');
                //let moveToLogin = confirm('로그인 페이지로 이동하시겠습니까?');
                //if (moveToLogin) {
                //    window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                //    return;
                //}
                //return;
            }
            let requestId = element.getAttribute('data-profileId');
            let $csrfToken = document.getElementById('csrfToken');
            let csrfToken = $csrfToken.value;
            let data = {
                'userId' : requestId,
                'followerId' : userId
            };
            
            let $button = element.getAttribute('class');
            //팔로우 요청
            if ($button === 'followBtn btn btn-dark btn-sm') {
                console.log("팔로우 요청" + userId + " -> " + requestId);
                console.dir(data);
                let request = new XMLHttpRequest();
    
                request.open('POST', '/follow');
                request.setRequestHeader('content-Type', 'application/json');
                request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                request.send(JSON.stringify(data));
                // 요청상태 체킹
                request.onreadystatechange = function () {
                    if (request.readyState == request.DONE && request.status == 200) {
                        
                        let response = request.responseText;
                        
                        if (response == 'SUCCESS') {
                            console.log('팔로우 등록 성공');
                            // 버튼 변경: 팔로우 -> 팔로잉
                            element.setAttribute('class', 'followBtn btn btn-outline-secondary btn-sm');
                            element.innerText = '팔로잉';
                            followerList();
                            followingList();
                            countFollow()
                        }
                    }
                }
                
            // 언팔 요청
            } else if($button === 'followBtn btn btn-outline-secondary btn-sm') {
                console.log("언팔 요청" + userId + " -/-> " + requestId);
                console.dir(data);
                let request = new XMLHttpRequest();
                request.open('DELETE', '/follow');
                request.setRequestHeader('content-Type', 'application/json');
                request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                request.send(JSON.stringify(data));
                // 요청상태 체킹
                request.onreadystatechange = function () {
                    if (request.readyState == request.DONE && request.status == 200) {
                        console.log('언팔처리 성공');
                        let response = request.responseText;
                        if (response == 'SUCCESS') {
                            element.setAttribute('class', 'followBtn btn btn-dark btn-sm');
                            element.innerText = '팔로우';
                            followerList();
                            followingList();
                            countFollow()
                        }
                    }
                }
            }
            
        }
    </script>
</body>