
.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.stats .col {
    text-align: center;
    margin: 0 10px;
}

.stats .divider {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
    color: #666;
}

.stats .col div {
    margin-bottom: 10px;
}

.action img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.action p {
    font-size: 14px;
}

