<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/mypage_layout}"
>
<head>
    <style>
        .shopping-info {
            margin-top: 50px; 
        }
        .content {
            padding: 15px;
            margin: 20px auto 0px auto; 
        }
        .card-title-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
        }

        .form-group {
            margin-bottom: 15px; /* 여백 추가 */
        }
        
        .profile-details {
            display: flex;
            align-items: center;
        }
        .profile_img {
            width: 55px;
            height: 55px;
            border-radius: 50%; /* 둥근 모서리 */
            overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 설정 */
            margin-right: 15px;
        }

        .profile_img img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너에 맞춤 */
        }
        .profile-info {
            display: flex;
            flex-direction: column;
            margin-top: 5px; /* 텍스트 부분 전체를 아래로 이동 */
        }

        .profile-info .user-id {
            font-size: 1.1rem; 
            font-weight: bold; 
            margin: 0;
        }
        .profile-info .nickname {
            margin: 0;
        }
        .profile-buttons {
            display: flex;
            gap: 5px;
        }
        .card {
            max-width: 640px;
            margin-bottom: 40px;
        }
        .wishlist img {
            width: 100%;
        }
        .wishlist .col-md-3 {
            padding: 0 5px;
        }
        .purchase-summary .col {
            margin-top: 10px; /* 구매 내역과 전체 사이의 간격 추가 */
        }
    </style>

    <title>마이 페이지-내 정보 관리</title>
</head>
<body layout:fragment="content">
    <div class="container">
        <div class="UserMainContainer">
            
            <div class="row mx-auto">
                <div class="content" style="max-width: 640px;">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title-section">
                                <div class="profile-details">
                                    <div class="profile_img">
                                        <th:block th:if="${user == null or user.profileImgNo == null}">
                                            <img src="/img/user/basic_social.png" alt="프로필이미지" class="rounded-circle">
                                        </th:block>
                                        <th:block th:if="${user != null or user.profileImgNo != null}">
                                                <img th:src="|/files/${user.profileImgNo}|" alt="프로필이미지" class="rounded-circle">
                                        </th:block>

                                    </div>
                                    <div class="profile-info">
                                        <p class="nickname  fw-bold m-0" th:text="${user != null ? user.nickname : 'Error'}"></p>
                                        <p class="user_id m-0" style="font-size: medium;" th:text="${user.userId}"></p>
                                    </div>
                                </div>
                                <div class="profile-buttons">
                                    <a type="button" th:href="|/styles/user/@${user.nickname}|" class="btn btn-sm btn-outline-secondary">스타일</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <form id="form" class="row g-3 needs-validation mb-5" method="POST" action="/user/update" enctype="multipart/form-data">
                        <input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <!-- 유저의 기존 정보 -닉네임 변경 유무 체크하기위해- -->
                        <input type="hidden" name="no" th:value="${user.no}">
                        <input type="hidden" name="userId" id="userId" th:value="${user.userId}">
                        <input type="hidden" name="originalNickname" id="originalNickname" th:value="${user.nickname}">
                        <input type="hidden" name="originalFileNo" th:value="${profileImgNo}">
                        <input type="hidden" name="originalPassword" th:value="${user.password}">

                        <div class="form-group">
                            <label for="formFile" class="form-label">프로필 사진 수정*</label>
                            <div class="input-group" style="max-width: 640px;">
                                <input type="file" class="form-control rounded-1" name="profileImgFile" id="file" placeholder="첨부파일을 등록해주세요.">
                            </div>
                        </div>
                        
                        <div class="position-relative">
                            <label for="nickName" class="form-label m-0">닉네임*</label>
                            <div class="input-group mb-3">
                                <input type="text" name="nickname" id="nickname" class="form-control" placeholder="영문, 숫자, 특수문자 조합 (한글사용불가)" aria-describedby="nickname" th:value="${user.nickname}">
                                <button class="btn btn-outline-secondary" type="button" id="nicknameBtn" onclick="checkNickname()" >중복체크</button>
                            </div>
                        </div>
                        
                    
                        <div class="form-group">
                            <label for="password">비밀번호*</label>
                            <div class="input-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder="영문, 숫자, 특수문자 조합 7-16자" aria-describedby="password">
                                <button class="btn btn-outline-secondary" type="button" id="passwordkBtn" onclick="togglePasswordVisibility('password')" style="min-width: 90px;"><i class="fa fa-eye-slash"></i></button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password_check">비밀번호 확인*</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="checkPassword" placeholder="영문, 숫자, 특수문자 조합 7-16자" aria-describedby="checkPassword">
                                <button class="btn btn-outline-secondary" type="button" id="checkPasswordBtn" onclick="togglePasswordVisibility('checkPassword')" style="min-width: 90px;"><i class="fa fa-eye-slash"></i></button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phone_number">핸드폰 번호 수정*</label>
                            <div class="input-group">
                                <input type="text" class="form-control me-2 rounded-1" name="phoneNumber" id="phoneNumber" placeholder="'-'을 제외하고 입력해주세요.">
                            </div>
                        </div>

                        <button class="btn btn-dark" type="button" onclick="check()" style="background-color: #393E46; border: none;">저장</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        // 기존 정보 가져오기
        let originalNickname = document.getElementById('originalNickname').value;
        var csrfToken = document.getElementById('csrfToken').value;
        let userId = document.getElementById('userId').value;

        let $inputNickname = document.getElementById('nickname');
        let form = document.getElementById('form');
        

        // 체크 여부
        let isNicknameChecked = false;
        

        // 닉네임 입력 input칸이 수정될때마다 중복체크 여부 false로 다시 설정
        $inputNickname.addEventListener('input', function() {
            isNicknameChecked = false;
        });

        // 비밀번호 입력 보이기 토글버튼
        function togglePasswordVisibility(elementId) {
            var input = document.getElementById(elementId);
            var togglePassword = input.nextElementSibling.querySelector('i');
            
            if (input.type === 'password') {
                input.type = 'text';
                togglePassword.classList.remove('fa-eye-slash');
                togglePassword.classList.add('fa-eye');
            } else {
                input.type = 'password';
                togglePassword.classList.remove('fa-eye');
                togglePassword.classList.add('fa-eye-slash');
            }
        }

        // 입력된 휴대폰번호 "010-1234-1234" 형식으로 변경
        function formatPhoneNumber(phone) {
            // 숫자만 추출
            var cleaned = ('' + phone).replace(/\D/g, '');
            // 정규식으로 전화번호 형식 맞추기
            var match = cleaned.match(/^(\d{3})(\d{4})(\d{4})$/); 
            // match = ["01012345678", "010", "1234", "5678"] 형태로 반환

            if (match) {
                // 형식화된 전화번호 반환
                return match[1] + '-' + match[2] + '-' + match[3];
            }
            // 형식에 맞지 않으면 null 반환
            return null;
        }
                    
        function check() {
            
            let inputNickname = document.getElementById('nickname').value;
            let password = document.getElementById('password').value; 
            let checkPassword = document.getElementById('checkPassword').value;
            let phoneNumber = document.getElementById('phoneNumber').value;
            var fileInput = document.getElementById('file');

            // 변동사항이 있는지 체크
            if (fileInput.files.length === 0 && inputNickname === originalNickname && password == "" && checkPassword == "" && phoneNumber == "") {
                // alert('저장할 변동사항이 없습니다.');
                Swal.fire({
                    html: `  
                        <img src="/img/header/Goodz_logo3.png" />
                        <h3 class="mt-4">저장할 변동사항이 없습니다.</h3>
                    `,
                    confirmButtonText: "확인",
                })
                return;
            }

            /* ✅ 1. 닉네임 변경 유무 및 중복체크 여부 체크 */
            if (!isNicknameChecked) {
                if (inputNickname != originalNickname) {
                    // alert('닉네임 중복체크가 필요합니다.')
                    Swal.fire({
                        html: `  
                            <img src="/img/header/Goodz_logo3.png" />
                            <h3 class="mt-4">닉네임 중복체크가 필요합니다.</h3>
                        `,
                        confirmButtonText: "확인",
                    })
                    return;
                }
            }
                
            /* ✅ 2. 비밀번호 정규화 체크 및 비밀번호 확인 일치여부 체크 */
            // 변경X 시, 폼제출 제외!!
            if (password === "" && checkPassword === "") {
                document.getElementById('password').removeAttribute("name");
                document.getElementById('checkPassword').removeAttribute("name");
            }
            
            // 비밀번호 유효성 검사 정규 표현식
            var passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{7,16}$/;
            // 비밀번호 유효성 검사
            if (password !== '' || checkPassword !== '') {
                if (!passwordRegex.test(password)) {
                    // alert('비밀번호는 영문, 숫자, 특수 문자를 포함한 7자에서 16자여야 합니다.');
                    Swal.fire({
                        html: `  
                            <img src="/img/header/Goodz_logo3.png" />
                            <h3 class="mt-4">비밀번호는 영문, 숫자, 특수 문자를 포함한 7자에서 16자여야 합니다.</h3>
                        `,
                        confirmButtonText: "확인",
                    })
                    return;
                }
            }
            if (password != checkPassword) {
                alert('입력한 비밀번호가 서로 일치하지 않습니다.');
                return;
            }

            // ✅ 3. 휴대폰 번호 유효성 검사
            
            if (phoneNumber != "") {
                let formattedPhoneNumber = formatPhoneNumber(phoneNumber);
                if (formattedPhoneNumber == null) {
                    // alert('휴대폰 번호를 올바르게 입력해주세요.');
                    Swal.fire({
                        html: `  
                            <img src="/img/header/Goodz_logo3.png" />
                            <h3 class="mt-4">휴대폰 번호를 올바르게 입력해주세요.</h3>
                        `,
                        confirmButtonText: "확인",
                    })
                    return;
                }
                // 형식화된 폰번호로 수정 
                phoneNumber = formattedPhoneNumber;
                document.getElementById('phoneNumber').value = formattedPhoneNumber; // 폼 데이터 업데이트
            }
            
            // ✔️ 폼 전송
            form.submit();

        }   

        function checkNickname() {

            // 입력된 닉네임 가져오기
            let inputNickname = document.getElementById('nickname').value;

            if (inputNickname === '') {
                // alert('닉네임을 입력해주세요.');
                Swal.fire({
                    html: `  
                        <img src="/img/header/Goodz_logo3.png" />
                        <h3 class="mt-4">닉네임을 입력해주세요.</h3>
                    `,
                    confirmButtonText: "확인",
                })
                return;
            }

            // 기존 닉네임과 입력된 닉네임이 같은지 비교
            if (originalNickname === inputNickname) {
                isNicknameChecked = true;
                // alert('변경사항이 없습니다.')
                Swal.fire({
                    html: `  
                        <img src="/img/header/Goodz_logo3.png" />
                        <h3 class="mt-4">변경사항이 없습니다.</h3>
                    `,
                    confirmButtonText: "확인",
                })
            } else {
                var requestData = {
                    "userId": userId,
                    "nickname": inputNickname,
                };

                // POST 요청 보내기
                let request = new XMLHttpRequest();
                request.open("POST", "/user/check", true);
                request.setRequestHeader("Content-Type", "application/json");
                request.setRequestHeader("X-CSRF-TOKEN", csrfToken);
                request.send(JSON.stringify(requestData));

                request.onreadystatechange = function () {
                    // 응답성공
                    if (request.readyState === 4) {
                        // 상태코드
                        if (request.status === 200) {
                            // alert(request.responseText); // 결과 메시지를 알림으로 표시
                            Swal.fire({
                                html: `  
                                    <img src="/img/header/Goodz_logo3.png" />
                                    <h3 class="mt-4">${request.responseText}</h3>
                                `,
                                confirmButtonText: "확인",
                            })

                            isNicknameChecked = true;
                        } else {
                            // alert(request.responseText); // 에러 메시지를 알림으로 표시
                            Swal.fire({
                                html: `  
                                    <img src="/img/header/Goodz_logo3.png" />
                                    <h3 class="mt-4">${request.responseText}</h3>
                                `,
                                confirmButtonText: "확인",
                            })
                        }
                    }
                };
            }
        }
    </script>
</body>
</html>

