
  .sidebar {
    padding-top: 15px;
    margin-top: 20px;
    min-width: 238px;
  }
  
  .sidebar h3 {
    margin-bottom: 20px;
  }
  
  .sidebar h5 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-direction: column;
  }
  
  .sidebar a {
    color: #6c757d;
    text-decoration: none;
    display: block;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  .mt-5 {
    margin-top: 3rem !important;
  }